.img_modal_dialog{
    width: 300px;
    height: 400px;
    margin-top: 100px;
}
.img_modal_wrap{
    width: 300px;
    height: 400px;
    margin: 0 auto;
}
.img_modal_header{
    justify-content: center;
    height: 50px;
}
.img_modal_body{
    width: 300px;
    box-sizing: border-box;
}

.fol_modal_dialog{
    width: 300px;
    height: 400px;
    margin-top: 100px;
}
.fol_modal_content{
    border-radius: 20px;
    width: 300px;
    height: 400px;
    margin: 0 auto;
}
.fol_modal_header{
    justify-content: center;
    height: 50px;
}
.fol_modal_mainTxt{
    font-size: 20px;
}
.fol_modal_list_wrap{
    margin: 0;
    overflow-y: scroll;
}
.fol_modal_body{
    width: 300px;
    box-sizing: border-box;
    overflow-y: scroll;
}
.fol_modal_list_wrap{
    width: 300px;
    box-sizing: border-box;
}
.fol_modal_img_wrap{
    display: inline-block;
    margin-right: 10px;
}
.fol_modal_img{
    width: 40px;
    height: 40px;
}
.fol_modal_list{
    padding-bottom: 7px;
    display: flex;
    height: 50px;
    align-items: center;
}
.fol_modal_list_content{
    display: flex;
    flex-direction: column;
}
.fol_modal_id:hover .fol_modal_id_content{
    text-decoration: underline;
}
body{
    -ms-overflow-style: none;
}
::-webkit-scrollbar {
    display: none;
}
