/*nav*/
.nav_main_list{
    padding: 0 180px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}
.nav_main_list:last-child{
    margin-bottom: 0;
}
.nav_main_list_btn{
    display: inline-block;
    background-color: #FAFAFA;
    border: none;
    border-radius: 10px;
    transition: 0.3s;
}
.nav_main_list_btn:hover{
    background-color: #EAEAEA;
    color: #000;
}
