<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE-edge"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="author" content="KIMAH"/>
    <meta name="description" content="SpringBoot Thymeleaf">
    <title>Spring Boot Test</title>
</head>

<body>

<h1>내 회원 정보보기</h1>

<table>
    <tr>
        <th>아이디</th>
        <td th:text="${member.Hid}"></td>
    </tr>
    <tr>
        <th>게시글 수</th>
        <td th:text="${pmylist.size()}"></td>
    </tr>
    <tr>
        <th>팔로잉</th>
        <td th:text="${following.size()}"></td>
    </tr>
    <tr>
        <th>팔로워</th>
        <td th:text="${follower.size()}"></td>
    </tr>



        <img id="img" th:src="@{/profile/{Hfile}(Hfile=${member.Hfile})}" width="150px" height="150px" style="border-radius: 70%;">

<tr th:if="${session.loginId ne member.Hid}">
<td th:if="${followList eq null}"><a  th:href="@{hFollow(Hid=${member.Hid})}">팔로우</a></td>
<td th:if="${followList ne null}"><a  th:href="@{hUnFollow(Hid=${member.Hid})}">팔로우 취소</a></td><br>
</tr>



<a th:if="${session.loginId eq member.Hid}" th:href="@{hModifyForm(Hid=${member.Hid})}">프로필 수정</a></td>


</table>


<table>
    <caption><h2>내 게시글</h2></caption>

    <tr th:each="pmylist : ${pmylist}">
        <td th:text="${pmylist.Ptitle}"></td>
        <td th:text="${pmylist.Pcontent}"></td>
        <td th:text="${pmylist.Pstyle}"></td>
        <td th:text="${pmylist.Pup}"></td>
        <td><img th:src="@{photo/{PfileName}(PfileName=${pmylist.PfileName})}"></td>
    </tr>

</table>

</body>

</html>