
<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<script type="text/javascript" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta http-equiv="Content-type" content="text/html;charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="description" content="OTQQU"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel='stylesheet' href='css/woocommerce-layout.css' type='text/css' media='all'/>
    <link rel='stylesheet' href='css/woocommerce-smallscreen.css' type='text/css'
          media='only screen and (max-width: 768px)'/>
    <link rel='stylesheet' href='css/woocommerce.css' type='text/css' media='all'/>
    <link rel='stylesheet' href='css/font-awesome.min.css' type='text/css' media='all'/>
    <link rel='stylesheet' href='css/style.css' type='text/css' media='all'/>
    <link rel='stylesheet' href='css/easy-responsive-shortcodes.css' type='text/css' media='all'/>
    <link rel="stylesheet" href="css/OTQQU1.css">
    <link rel="stylesheet" href="css/OTQQU.css">
    <link rel="stylesheet" href="css/hview.css">
    <link rel="shortcut icon" href="default/favi.ico">



    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>




    <title>옷:꾸</title>

</head>


<style>
    .test_image {
        object-fit: cover;
    }
    #modal {
        display: none;
        position:relative;
        width:100%;
        height:100%;
        z-index:5;
    }

    #modal h2 {
        margin:0;
        font-size: 24px;
    }

    .modal_content {
        position:fixed;
        float: inside;
        top: -8px;
        left: 50%;
        transform: translate(-50%, 0%);
        width:300px;
        margin:100px auto;
        padding:20px 10px;
        background:#fff;
        border:2px solid #666;
        border-radius: 20px;
        z-index: 10;
    }

    .modal_layer {
        position:fixed;
        top:0;
        left:0;
        width:100%;
        height:100%;
        background:rgba(0, 0, 0, 0.5);
        z-index:6;
    }
    .follow_btn{
        display: inline-block;
        width: 78px;
        height: 35px;
        line-height: 35px;
        cursor: pointer;
        text-align: center;
    }
    .follow_btn:first-child{
        margin-left: 5px;
    }
    .img_upload_label{
        background-color: #0095F6;
        width: 130px;
        height: 36px;
        color: #fff;
        line-height: 36px;
        border-radius: 10px;
        font-weight: 400;
        cursor: pointer;
        text-align: center;
    }
    .follow_btn_real{
        background-color: #0095F6;
        width: 92px;
        height: 30px;
        font-size: 14px;
        color: #fff;
        border-radius: 10px;
        text-align: center;
    }
    #img{
        cursor: pointer;
    }
</style>

<body class="home page page-template page-template-template-portfolio page-template-template-portfolio-php">
<div class="wrap">
    <header class="site-header" style="margin: 0 auto; padding: 0; background-color: #fff; height: 296px">
        <div class="site_branding" style="border: 0">
            <h1 class="site_title"><a href="Main" rel="home">Otqqu</a></h1>

            <form action="searchInfo" method="GET">
                <div class="search_input_wrap">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                         class="bi bi-search bi_search" viewBox="0 0 16 16">
                        <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                    </svg>
                    <input type="text" name="keyword" id="searchInput" class="search_input" placeholder="검색"
                           style="border: 0; padding-left: 16px;" autocomplete="off" onkeyup="search()">
                    <div class="search_list_wrap" style="border-radius: 100px;">
                        <div id="searchDIV" class="search_list">

                        </div>
                    </div>

                </div>
            </form>

            <div class="header_menu">

                <div id="header_menu_post_wrap">
                    <div id="header_menu_post" style="width: 26px; height: 26px">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor"
                             class="bi bi-plus-circle header_menu_icon" viewBox="0 0 16 16"
                             onclick="location.href='PostForm'">
                            <path id="header_menu_post_1"
                                  d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                            <path id="header_menu_post_2"
                                  d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
                        </svg>
                    </div>
                    <div id="header_menu_post_on" style="width: 26px; height: 26px">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor"
                             class="bi bi-plus-circle-fill header_menu_icon" viewBox="0 0 16 16"
                             onclick="location.href='PostForm'">
                            <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3v-3z"/>
                        </svg>
                    </div>
                </div>


                <div class="dropdown">
                    <div class="header_menu_account_wrap">
                        <div id="header_menu_account" style="width: 26px; height: 30px">
                            <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="currentColor"
                                 class="bi bi-house header_menu_icon header_dropdown_menu_icon" viewBox="0 0 16 16">
                                <path fill-rule="evenodd"
                                      d="M2 13.5V7h1v6.5a.5.5 0 0 0 .5.5h9a.5.5 0 0 0 .5-.5V7h1v6.5a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 13.5zm11-11V6l-2-2V2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5z"/>
                                <path fill-rule="evenodd"
                                      d="M7.293 1.5a1 1 0 0 1 1.414 0l6.647 6.646a.5.5 0 0 1-.708.708L8 2.207 1.354 8.854a.5.5 0 1 1-.708-.708L7.293 1.5z"/>
                            </svg>
                        </div>
                        <div id="header_menu_account_on" style="width: 26px; height: 30px">
                            <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="currentColor"
                                 class="bi bi-house-fill" viewBox="0 0 16 16">
                                <path fill-rule="evenodd"
                                      d="m8 3.293 6 6V13.5a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 13.5V9.293l6-6zm5-.793V6l-2-2V2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5z"/>
                                <path fill-rule="evenodd"
                                      d="M7.293 1.5a1 1 0 0 1 1.414 0l6.647 6.646a.5.5 0 0 1-.708.708L8 2.207 1.354 8.854a.5.5 0 1 1-.708-.708L7.293 1.5z"/>
                            </svg>
                        </div>
                    </div>

                    <div class="dropdown-content">
                        <a th:if="${session.loginId ne null}" th:href="@{hView(Hid=${session.loginId})}"
                           class="dropdown_content_list">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                 class="bi bi-person-circle dropdown_content_icon" viewBox="0 0 16 16">
                                <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
                                <path fill-rule="evenodd"
                                      d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
                            </svg>
                            <span class="dropdown_text">프로필</span>
                        </a>
                        <a th:if="${session.loginId ne null}" th:href="@{hModifyForm(Hid=${session.loginId})}"
                           class="dropdown_content_list">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                 class="bi bi-gear-wide dropdown_content_icon" viewBox="0 0 16 16">
                                <path d="M8.932.727c-.243-.97-1.62-.97-1.864 0l-.071.286a.96.96 0 0 1-1.622.434l-.205-.211c-.695-.719-1.888-.03-1.613.931l.08.284a.96.96 0 0 1-1.186 1.187l-.284-.081c-.96-.275-1.65.918-.931 1.613l.211.205a.96.96 0 0 1-.434 1.622l-.286.071c-.97.243-.97 1.62 0 1.864l.286.071a.96.96 0 0 1 .434 1.622l-.211.205c-.719.695-.03 1.888.931 1.613l.284-.08a.96.96 0 0 1 1.187 1.187l-.081.283c-.275.96.918 1.65 1.613.931l.205-.211a.96.96 0 0 1 1.622.434l.071.286c.243.97 1.62.97 1.864 0l.071-.286a.96.96 0 0 1 1.622-.434l.205.211c.695.719 1.888.03 1.613-.931l-.08-.284a.96.96 0 0 1 1.187-1.187l.283.081c.96.275 1.65-.918.931-1.613l-.211-.205a.96.96 0 0 1 .434-1.622l.286-.071c.97-.243.97-1.62 0-1.864l-.286-.071a.96.96 0 0 1-.434-1.622l.211-.205c.719-.695.03-1.888-.931-1.613l-.284.08a.96.96 0 0 1-1.187-1.186l.081-.284c.275-.96-.918-1.65-1.613-.931l-.205.211a.96.96 0 0 1-1.622-.434L8.932.727zM8 12.997a4.998 4.998 0 1 1 0-9.995 4.998 4.998 0 0 1 0 9.996z"/>
                            </svg>
                            <span class="dropdown_text">설정</span>
                        </a>
                        <a th:if="${session.loginId eq null}" href="hjoinForm" class="dropdown_content_list">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                 class="bi bi-person-plus dropdown_content_icon" viewBox="0 0 16 16">
                                <path d="M6 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm4 8c0 1-1 1-1 1H1s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C9.516 10.68 8.289 10 6 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z"/>
                                <path fill-rule="evenodd"
                                      d="M13.5 5a.5.5 0 0 1 .5.5V7h1.5a.5.5 0 0 1 0 1H14v1.5a.5.5 0 0 1-1 0V8h-1.5a.5.5 0 0 1 0-1H13V5.5a.5.5 0 0 1 .5-.5z"/>
                            </svg>
                            <span class="dropdown_text">회원가입</span>
                        </a>
                        <a th:if="${session.loginId eq null}" href="hLoginForm" class="dropdown_content_list">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                 class="bi bi-box-arrow-in-right dropdown_content_icon" viewBox="0 0 16 16">
                                <path fill-rule="evenodd"
                                      d="M6 3.5a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-2a.5.5 0 0 0-1 0v2A1.5 1.5 0 0 0 6.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-8A1.5 1.5 0 0 0 5 3.5v2a.5.5 0 0 0 1 0v-2z"/>
                                <path fill-rule="evenodd"
                                      d="M11.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H1.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z"/>
                            </svg>
                            <span class="dropdown_text">로그인</span>
                        </a>
                        <a th:if="${session.loginId ne null}" href="hLogout" class="dropdown_content_list">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                 class="bi bi-x-circle dropdown_content_icon" viewBox="0 0 16 16">
                                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                                <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
                            </svg>
                            <span class="dropdown_text">로그아웃</span>
                        </a>
                    </div>
                </div>
            </div>

        </div>
<div style="margin: 80px auto 0 auto; background-color: #FAFAFA; border-top: 1px solid #888888">
    <div id="site-navigation" class="main-navigation" style="margin: 0 auto; width: 980px; border: 0; padding-top: 30px; background-color: #FAFAFA; border-bottom: 1px solid #888888">
        <input type="hidden" id="memberId" th:value="${member.Hid}">
        <input type="hidden" id="sessionId" th:value="${session.loginId}">
        <div class="parent">
            <div class="profile_box">
                <img id="img" th:src="@{/profile/{Hfile}(Hfile=${member.Hfile})}" width="150px"  height="150px" style="border-radius: 100%; margin: auto; border: 1px solid #888888; object-fit: cover; min-height: 150px; min-width: 150px;max-height: 150px; max-width: 150px;">
            </div>
            <div class="profile_content_box">
                <label  th:text="${member.Hid}" style="font-size: 30px; line-height: 30px; margin-right: 10px"></label>
                <a th:href="@{hModifyForm(Hid=${member.Hid})}"  th:if="${member.Hid eq session.loginId}"
                   style="padding: 0 5px;color: black ;  text-align: center; margin-left: 20px;  font-size: 14px; border: 1px solid gray; background: white; font-weight: bolder; border-radius: 3px; height: 30px; width: 100px">
                프로필 편집</a>
                <label th:if="${session.loginId ne member.Hid}" style="margin-left: 20px">
                    <div th:if="${followList eq null}"><a th:href="@{hFollow(Hid=${member.Hid})}"><div class="follow_btn_real">팔로우</div></a></div>
                    <div th:if="${followList ne null}"><a th:href="@{hUnFollow(Hid=${member.Hid})}"><div class="follow_btn_real">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-fill" viewBox="0 0 16 16">
                            <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                        </svg>
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check-lg" viewBox="0 0 16 16">
                            <path d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425a.247.247 0 0 1 .02-.022Z"/>
                        </svg>
                    </div></a></div>
                </label>
            </div>





            <div style="margin-left: 378px; font-size: 15px; ">
                <ul class="user_info">
                    <li style="display: inline-block; line-height: 35px; height: 35px">게시물 <span th:text="${count}"></span></li>


                    <span class="follow_btn" id="modal_show2">팔로워<span th:text="${follower.size()}"></span></span>
                    <span class="follow_btn" id="modal_show1">팔로잉<span th:text="${following.size()}"></span></span>
                </ul>
            </div>
            <div style="margin-left: 394px; margin-bottom: 80px; font-size: 15px; color: #0a0700"th:text="${member.Hname}"></div>

        </div>




    </div>
</div>

    </header>


    <div th:if="${count ne 0}" class="post_list_wrap" id="post_list_wrap" style="margin-top: 80px">
        <div th:each="pmylist : ${pmylist}" class="post_list fadein" style="text-align: center">
            <img th:src="@{/photo/{PfileName}(PfileName=${pmylist.PfileName})}" class="post_list_image">

            <a th:href="@{pView(Pnum=${pmylist.Pnum})}" class="post_list_grey">
                <div class="post_list_grey_text">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                         class="bi bi-suit-heart-fill post_list_grey_heart" viewBox="0 0 16 16">
                        <path d="M4 1c2.21 0 4 1.755 4 3.92C8 2.755 9.79 1 12 1s4 1.755 4 3.92c0 3.263-3.234 4.414-7.608 9.608a.513.513 0 0 1-.784 0C3.234 9.334 0 8.183 0 4.92 0 2.755 1.79 1 4 1z"/>
                    </svg>
                    <span><!--좋아요!--></span>
                </div>
            </a>
        </div>
    </div>

    <div th:if="${count eq 0}" style="height: 450px; text-align: center; margin-top: 60px;">
        게시글이 없습니다..
        게시글을 올려서 친구들과 패션을 함께 나누어보세요!
    </div>

    <footer class="footer">
        <div class="footer_list">
            <a href="#" class="footer_text">김효섭</a>
            <a href="#" class="footer_text">김현민</a>
            <a href="#" class="footer_text">차해성</a>
            <a href="#" class="footer_text">박은빈</a>
            <a href="#" class="footer_text">ICIA</a>
            <a href="#" class="footer_text">위치</a>
        </div>
        <div class="footer_list_2">
            <span class="footer_text">reference by <a href="https://www.instagram.com" target="_blank">Instagram</a></span>
        </div>
    </footer>



    <div class="modal fade" id="exampleModal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog fol_modal_dialog" role="document">
            <div class="modal-content fol_modal_content">
                <div class="modal-header fol_modal_header">
                    <h3 class="fol_modal_mainTxt"> 팔로잉 </h3>
                </div>
                <div class="modal-body fol_modal_body">
                    <div class="fol_modal_list_wrap">
                        <div th:each="i : ${following}" class="fol_modal_list">
                            <span class="fol_modal_img_wrap"><a th:href="@{hView(Hid=${i.Hid})}"><img th:src="@{/profile/{Hfile}(Hfile=${i.Hfile})}" class="fol_modal_img" style="border-radius: 70%;"></a></span>
                            <div class="fol_modal_list_content">
                                <a th:href="@{hView(Hid=${i.Hid})}" class="fol_modal_id"><span th:text="${i.Hid}" class="fol_modal_id_content" style="color: #000; font-weight: 600"></span></a>
                                <span th:text="${i.Hname}"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer fol_modal_fotter">
                    <button type="button" class="btn btn-primary" id="close_modal1"style="width: 60px; height: 30px; font-size: 13px; border-radius: 10px">닫기</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog fol_modal_dialog" role="document">
            <div class="modal-content fol_modal_content">
                <div class="modal-header fol_modal_header">
                    <h3 class="fol_modal_mainTxt"> 팔로워 </h3>
                </div>
                <div class="modal-body fol_modal_body">
                    <div class="fol_modal_list_wrap">
                        <div th:each="i : ${follower}" class="fol_modal_list">
                            <span class="fol_modal_img_wrap"><a th:href="@{hView(Hid=${i.Hid})}"><img th:src="@{/profile/{Hfile}(Hfile=${i.Hfile})}" class="fol_modal_img" style="border-radius: 70%;"></a></span>
                            <div class="fol_modal_list_content">
                                <a th:href="@{hView(Hid=${i.Hid})}" class="fol_modal_id"><span th:text="${i.Hid}" class="fol_modal_id_content" style="color: #000; font-weight: 600"></span></a>
                                <span th:text="${i.Hname}"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer fol_modal_fotter">
                    <button type="button" class="btn btn-primary" id="close_modal2" style="width: 60px; height: 30px; font-size: 13px; border-radius: 10px">닫기</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="exampleModal3" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true" >
        <div class="modal-dialog img_modal_dialog" role="document">
            <div class="modal-content img_modal_wrap"  style="border-radius: 20px;">
                <div class="modal-header img_modal_header">
                    <h2 style="text-align: center; font-size: 20px">수정하기</h2>
                </div>
                <div class="modal-body img_modal_body" style="overflow:auto; width: 300px; height: 400px;">
                    <div>
                        <form method="POST" enctype="multipart/form-data" action="uPloadFile" style="margin-top: 60px; display: flex; align-items: center; flex-direction: column">
                            <label class="img_upload_label" style="margin-bottom: 15px">
                                프로필 선택
                                <input type="file" id="HProfile" name="HProfile" style="display: none"/>
                            </label>
                            <input type="hidden" name="Hid" th:value="${member.Hid}">
                            <button type="submit"
                                    style="background-color: #0095F6; width: 130px; height: 36px; color: #fff; border-radius: 10px; font-weight: 400; cursor: pointer; margin: 0 auto">사진 적용</button>
                            <!--<button type="button" id="btn-add">사진업로드</button>-->
                            <button style="display: none;"></button>
                        </form>

                    </div>
                    <div style="margin-top: 15px; display: flex; justify-content: center">
                        <form method="POST" enctype="multipart/form-data" action="uPdelete">
                            <input type="hidden" name="Hid" th:value="${member.Hid}">
                            <input type="hidden" name="Hfile" th:value="defaultProfile.png">
                            <button type="submit"
                                    style="background-color: #0095F6; width: 130px; height: 36px; color: #fff; border-radius: 10px; font-weight: 400; cursor: pointer; margin: 0 auto">현재 사진 삭제</button>
                        </form>
                    </div>

                    <div style="display: flex; justify-content: center">
                        <button type="button" onclick="imgModalHide()" style="margin:0; margin-top:15px; width: 130px; height: 36px; border-radius: 10px;">닫기</button>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>
</body>
<script>
    $('#header_menu_post').mouseenter(function () {
        $('#header_menu_post').css('display', 'none');
        $('#header_menu_post_on').css('display', 'block');
    });
    $('#header_menu_post_on').mouseleave(function () {
        $('#header_menu_post_on').css('display', 'none');
        $('#header_menu_post').css('display', 'block');
    });

    $('#header_menu_account').mouseenter(function () {
        $('#header_menu_account').css('display', 'none');
        $('#header_menu_account_on').css('display', 'block');
    });
    $('#header_menu_account_on').mouseleave(function () {
        $('#header_menu_account_on').css('display', 'none');
        $('#header_menu_account').css('display', 'block');
    });
    $('.dropdown-content').mouseenter(function () {
        $('#header_menu_account').css('display', 'none');
        $('#header_menu_account_on').css('display', 'block');
    });
    $('.dropdown-content').mouseleave(function () {
        $('#header_menu_account_on').css('display', 'none');
        $('#header_menu_account').css('display', 'block');
    });


    $(document).ready(function () {
        let Mid = $('#memberId').val();
        let Sid = $('#sessionId').val();
        if(Mid != Sid){
            $('#img').css('cursor','default');
        }

        $("#modal_show1").click(function () {
            $("#exampleModal1").modal("show");
        });

        $("#close_modal1").click(function () {
            $("#exampleModal1").modal("hide");
        });

        $("#modal_show2").click(function () {
            $("#exampleModal2").modal("show");
        });

        $("#close_modal2").click(function () {
            $("#exampleModal2").modal("hide");
        });

        $("#img").click(function () {
            if(Mid == Sid){
                $('#img').css('cursor','pointer');
                $("#exampleModal3").modal("show");
            }
            else{
                $('#img').css('cursor','default');
            }
        });

        $("#img").click(function () {
            $("#exampleModal3").modal("hide");
        });
    });

    function imgModalHide(){
        $("#exampleModal3").modal("hide");
    }


</script>
<!--<script type="text/javascript">
    $('#btn-add').click(function (e){
        e.preventDefault();
        $('#HProfile').click();
    });
    function uploadFile(e){
        console.log("Filename ; ", e.value);
    }
</script>-->
<script src='/js/Hview.js'></script>
<script src='/js/jquery.js'></script>
<script src='/js/plugins.js'></script>
<script src='/js/scripts.js'></script>
<script src='/js/masonry.pkgd.min.js'></script>

</html>
