<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns="">
<head>
    <meta charset="UTF-8">
    <title>Join</title>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <link rel='stylesheet' href="/css/woocommerce-layout.css" type='text/css' media='all'/>
    <link rel='stylesheet' href="/css/woocommerce-smallscreen.css" type='text/css' media='only screen and (max-width: 768px)'/>
    <link rel='stylesheet' href="/css/woocommerce.css" type='text/css' media='all'/>
    <link rel='stylesheet' href="/css/font-awesome.min.css" type='text/css' media='all'/>
    <link rel='stylesheet' href="/css/style.css" type='text/css' media='all'/>
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Oswald:400,500,700%7CRoboto:400,500,700%7CHerr+Von+Muellerhoff:400,500,700%7CQuattrocento+Sans:400,500,700' type='text/css' media='all'/>
    <link rel='stylesheet' href="/css/easy-responsive-shortcodes.css" type='text/css' media='all'/>
    <style>
        body {

            background-color: rgba(251,255,248,0.94);
        }

        .join {
            background-color: white;
            border: 1px solid rgba(61,64,88,0.65);
            width: 450px;
            height: 900px;
            text-align: center;
            position: relative;
            margin-bottom: 22px;
            margin-top: 22px;
            margin-left: 700px;
            border-bottom-left-radius: 10px;
            border-bottom-right-radius: 10px;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
            text-align: center;
        }

        input {
            position: relative;
            left: 50%;
            transform: translateX(-50%);
            background-color: rgba(248,248,251,0.94);
        }

        .section_pw_check_text {
            text-align: center;
            margin: 0px auto;
        }

        .send.on {
            background-color: rgba(9,18,88,0.65);
        }

        .enterBtn.on {
            background-color: rgba(9,18,88,0.65);
        }

        .join1.on {
            background-color: rgba(9,18,88,0.65);
        }

        #Hid {
            display: inline-block;
        }

        .cid {
            display: inline-block;
            margin-left: 200px;
        }

        .section_pw_check_text {
            display: inline-block;
            margin-left: 200px;
        }

        #Hpw {
            display: inline-block;

        }

        #pwConfirm {
            display: inline-block;
        }

        table {
            margin-top: 120px;

        }

        caption {
            position: relative;
            bottom: 40px;
        }


    </style>
</head>
<body>

<div class="join">
    <form action="hJoin" method="POST" enctype="multipart/form-data" modelAttribute="HDTO" id="joinform">
        <table>
            <caption class="site-title">Otqqu</caption>

            <tr>
                <td><input type="text" name="Hname" placeholder="이름" style="margin-top: 5px; border:none;
            border-bottom:1px solid #ccc; width: 40%;" /></td>
                <span th:text="${valid_Hname}"></span>
            </tr>

            <tr>
                <td>
                    <input type="text" name="Hid" id="Hid" onkeyup="idOverlap()" placeholder="아이디" style="border:0;
            border-bottom:1px solid #ccc; width: 40%;"/>
                    <span th:text="${valid_Hid}"></span>
                    <span id="confirmId" class="cid"></span></td>
            </tr>


            <tr>
                <td><input type="password" name="Hpw" id="Hpw" onkeyup="pwCheck()" placeholder="패스워드" style="border:0;
            border-bottom:1px solid #ccc; width: 40%;"/>
                    <span th:text="${valid_Hpw}"></span>
                    <span class="section_pw_check_text"></span>
                </td>
            </tr>


            <tr>
                <td><input type="password" required id="pwConfirm" onkeyup="pwEqual()" placeholder="패스워드 확인" style="border:0;
            border-bottom:1px solid #ccc; width: 40%;">
                    <span class="section_pw_check_text"></span>
                </td>
            </tr>


            <tr>
                <input type="hidden" name="Hage" placeholder="나이" value="1" style="border:0;
            border-bottom:1px solid slategrey;"/>

            </tr>

            <tr>
                <input type="hidden" name="Hheight" placeholder="키" value="1" style="border:0;
            border-bottom:1px solid slategrey;"/>

            </tr>

            <tr>
                <input type="hidden" name="Hweight" placeholder="몸무게" value="1" style="border:0;
            border-bottom:1px solid slategrey;"/>

            </tr>

            <tr>
                <input type="hidden" name="Hgender" value="m">
                <input type="hidden" name="Hgender" value="w">
            </tr>

            <tr>
                <td>
                    <input type="text" name="Hphone" id="Hphone" placeholder="전화번호" class="Hphone" style="margin-bottom: 10px; border:0;
            border-bottom:1px solid #ccc; width: 40%;"/>
                    <input type="button" id="send" class="send" value="전송" /><br> <!-- 문자보내는 전송버튼 -->

                    <input type="text" id="userNum" class="userNum" placeholder="인증번호" style="border:0; border-bottom:1px solid #ccc; width: 40%;">   <!-- 인증번호 입력창 -->
                    <input type="button" id="enterBtn" class="enterBtn" value="확인" >   <!-- 인증번호와 내가 입력창에 입력한 인증번호 비교하는 창 -->
                    <input type="hidden" name="text" id="text">
                </td>
            </tr>

            <tr>
                <input type="hidden" name="Hfile" th:value="기본프로필.PNG"/>

                <td colspan="2"><input type="submit" value="가입" onclick="hJoin()" id="join1" class="join1" disabled="true"></td>
            </tr>

        </table>
    </form>

</div>

</body>

<script type="text/javascript" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script type="text/javascript">
    //아이디 중복체크
    function idOverlap() {
        let idCheck = document.getElementById("Hid").value;
        let confirmMId = document.getElementById("confirmMId");
        let idPass = false;

        $.ajax({
            type: "POST",
            url: "A_idOverlap",
            data: {"Hid": idCheck},
            async: false,
            dataType: "text",
            success: function (data) {
                // 성공시
                if (data == "OK") {
                    confirmId.style.color = "green";
                    confirmId.innerHTML = "V";
                    idPass = true;

                } else {
                    confirmId.style.color = "#ff0000";
                    confirmId.innerHTML = "X";
                    idPass = false;
                }
            },
            error: function () {
                // 실패시
                alert("idOverlap함수 통신실패")
            }
        });
        return idPass;
    }

    //비밀번호 정규식
    let pw = document.getElementById("Hpw");
    let pwTxt = document.getElementsByClassName("section_pw_check_text");


    function pwCheck() {
        let pw1 = pw.value;
        let pattern1 = /[0-9]/;
        let pattern2 = /[a-zA-Z]/;
        let pattern3 = /[~!@\#$%<>^&*]/;
        let pwSecurityCheck = false;

        if (!pattern1.test(pw1) || !pattern2.test(pw1) || !pattern3.test(pw1) || pw1.length < 6) {
            pwTxt[0].innerHTML = 'X';
            pwTxt[0].style.color = 'red';
            pwSecurityCheck = false;
        } else {
            pwTxt[0].innerHTML = 'V';
            pwTxt[0].style.color = 'green';
            pwSecurityCheck = true;
        }

        return [pw1, pwSecurityCheck];
    }


    // 비밀번호 확인
    let pwC = document.getElementById("pwConfirm");

    function pwEqual() {
        let pw1 = pw.value;
        let pw2 = pwC.value;
        let pwEqualCheck = false;

        if (pw1 !== pw2 || pw2.length == 0) {
            pwTxt[1].innerHTML = 'X';
            pwTxt[1].style.color = 'red';
            pwEqualCheck = false;
        } else {
            pwTxt[1].innerHTML = 'V';
            pwTxt[1].style.color = 'green';
            pwEqualCheck = true;
        }

        return [pw2, pwEqualCheck];
    }

    function check() {
        let [pw1, pwSecurityCheck] = pwCheck();
        let [pw2, pwEqualCheck] = pwEqual();
        console.log(`pw1`);
        console.log(`pw2`);
        if (pw1 === pw2) {
            section_form_name.submit();
        } else if (pwSecurityCheck == false) {
            document.getElementById('pw').focus();
        } else if (pwEqualCheck == false) {
            document.getElementById('pwConfirm').focus();
        }
    }

    function hJoin(){

        if(!idOverlap()){
            alert("아이디 중복체크를 진행해주세요");
        }else if(pwCheck() == false){
            alert("비밀번호를 규칙에 맞게 입력하세요");
        }else if(pwEqual() == false){
            alert("비밀번호가 서로 일치하지 않습니다.");
        }else{
            joinform.submit();
        }

    }

    var count = 0; /* 문자 중복을 막기 위한 인증번호 */

    $(document).ready(function() {

        $("#send").click(function() {

            var number = Math.floor(Math.random() * 100000) + 100000;
            if(number>100000){
                number = number - 10000;
            }

            $("#text").val(number);      /* 난수로 생성된 인증번호를 hidden name : text 에 숨긴다 */

            var Hphone = $("#Hphone").val();

            if(Hphone == "" || Hphone == null){
                alert("빈칸이나 공백을 채워주세요");
            }

            else {
                var con_test = confirm("해당번호로 인증문자를 발송하시겠습니까?");   /* 문자를 보낼껀지 물어본다 */

                if(con_test == true){

                    if(count < 3){      /* 추후 데이터베이스에 컬럼 값을 확인하여 count 값을 비교 할 예정 */

                        $.ajax({
                            url:"check",
                            type:"post",
                            data:{"Hphone" : Hphone,
                                text: $("#text").val()
                            },
                            success:function(){
                                alert("해당 휴대폰으로 인증번호를 발송했습니다");

                            },
                            error(){

                            }

                        });
                    } else {
                        alert("휴대폰 인증 그만하세요")
                    }

                }
                else if(con_test == false){

                }
            }
        })


        $("#enterBtn").click(function () {   /* 내가 작성한 번호와 인증번호를 비교한다 */
            // alert($("#text").val());
            var userNum = $("#userNum").val();

            var sysNum = $("#text").val();

            if(userNum == null || userNum == ""){
                alert("휴대폰으로 발송된 인증번호를 입력해주세요");
            }
            else{
                if(userNum.trim() == sysNum.trim()){
                    alert("인증에 성공하였습니다.");
                    $('#join1').prop('disabled', false);
                }
                else {
                    alert("인증에 실패하였습니다.");
                }
            }
        });
    });


    $('.Hphone').on('input', checkInput);

    // input 입력 시에 checkInput 함수실행
    function checkInput() {
        var Hphone = $('.Hphone').val();   // idCheck 변수
        var send = $('.send');

        if (Hphone === '' || Hphone.length<=10) {
            // 기본 로그인 버튼 색상
            send.removeClass('on');

        } else {
            // ID 비밀번호 입력 시에 로그인 버튼 배경색 변경
            send.addClass('on');
        }
    }

    $('.userNum').on('input', checkInput2);

    // input 입력 시에 checkInput 함수실행
    function checkInput2() {
        var userNum = $('.userNum').val();   // idCheck 변수
        var enterBtn = $('.enterBtn');

        if (userNum === '' || userNum.length<=4) {
            // 기본 로그인 버튼 색상
            enterBtn.removeClass('on');

        } else {
            // ID 비밀번호 입력 시에 로그인 버튼 배경색 변경
            enterBtn.addClass('on');
        }
    }

</script>
</html>