<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta http-equiv="Content-type" content="text/html;charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Security & Java Mail Sender" />
    <title>test</title>
</head>
<body>


    <form action="hLogin" method="POST">
        <input type="text" placeholder="ID" name="Hid">
        <input type="password" placeholder="PW" name="Hpw">
    <input type="submit" value="로그인">

</form>

<button onclick="location.href='hjoinForm'" value="회원가입">회원가입</button>


</body>





</html>