<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE-edge"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="author" content="KIMAH"/>
    <meta name="description" content="SpringBoot Thymeleaf">
    <title>Spring Boot Test</title>
</head>
<body>

<h1>내 회원 정보보기</h1>

<table>
    <caption>회원 상세보기</caption>
    <tr>
        <th>아이디</th>
        <td th:text="${member.Hid}"></td>
    </tr>

    <tr>
        <th>비밀번호</th>
        <td th:text="${member.Hpw}"></td>
    </tr>

    <tr>
        <th>이름</th>
        <td th:text="${member.Hname}"></td>
    </tr>

    <tr>
        <th>나이</th>
        <td th:text="${member.Hage}"> </td>
    </tr>

    <tr>
        <th>프로필 수정하기 </span> </th>
        <td>
            <form method="POST" enctype="multipart/form-data" action="uPloadFile">
                <input type="file"  name="HProfile"/>
                <input type="hidden" name="Hid" th:value="${member.Hid}">
                <input type="submit" value="Submit">
            </form>

        </td>

    </tr>
</table>

<div>
    <h2>이미지 미리보기</h2>
    <p>이미지 업로드</p>
    <!--<input type="file" id="input_img">-->
</div>

<div>
    <div>
        <img id="img" th:src="@{/profile/{Hfile}(Hfile=${member.Hfile})}">
    </div>
</div>

</body>
<script type="text/javascript" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<!--미리보기 script-->
<!--<script>
    let sel_file;
    $(document).ready(function(){
        $("#input_img").on("change", handleImgFileSelect);
    });

    function handleImgFileSelect(e){
        let files = e.target.files;
        let filesArr = Array.prototype.slice.call(files);

        filesArr.forEach(function(f){
            if(!f.type.match("image.*")){
                alert("확장자는 이미지 파일만 가능합니다.");
                return;
            }
            sel_file = f;

            let reader = new FileReader();
            reader.onload = function(e){
                $("#img").attr("src", e.target.result);
            }
            reader.readAsDataURL(f);
        });
    }
</script>-->

</html>