<!DOCTYPE html>

<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta http-equiv="Content-type" content="text/html;charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="OTQQU"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel='stylesheet' href='css/woocommerce-layout.css' type='text/css' media='all'/>
    <link rel='stylesheet' href='css/woocommerce-smallscreen.css' type='text/css'
          media='only screen and (max-width: 768px)'/>
    <link rel='stylesheet' href='css/woocommerce.css' type='text/css' media='all'/>
    <link rel='stylesheet' href='css/font-awesome.min.css' type='text/css' media='all'/>
    <link rel='stylesheet' href='css/style.css' type='text/css' media='all'/>
    <link rel='stylesheet' href='css/easy-responsive-shortcodes.css' type='text/css' media='all'/>
    <link rel="stylesheet" href="css/OTQQU.css">
    <link rel="stylesheet" href="css/Post.css">
    <title>옷:꾸-게시글 작성</title>
</head>

<style>
    #imgViewArea {
        position: absolute;
        width: 500px;
        height: 500px;
        overflow: hidden;
        top: 100px;
        left: 500px;
        transition: 0.3s;
        background-color: black;

    }
    .post_img_preview {
        position: relative;
        left: 0;
        top: 0;
        -webkit-user-drag: none;
        transition: none;
        height: 100%;
        width: 100%;
    }
    .imgRatioBox{
        position: absolute;
        z-index: 1000;
        top: 0;
        left: 0;
    }
</style>
<body>

<header class="site-header" style="margin: 0 auto;">
    <div class="site_branding">
        <h1 class="site_title"><a href="Main" rel="home">Otqqu</a></h1>

        <form action="Search" method="GET">
            <div class="search_input_wrap">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                     class="bi bi-search bi_search" viewBox="0 0 16 16">
                    <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                </svg>
                <input type="text" name="keyword" id="searchInput" class="search_input" placeholder="검색"
                       style="border: 0; padding-left: 16px;" autocomplete="off">
            </div>

        </form>

        <div class="header_menu">

            <div id="header_menu_post_wrap">
                <div id="header_menu_post" style="width: 26px; height: 26px">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor"
                         class="bi bi-plus-circle header_menu_icon" viewBox="0 0 16 16"
                         onclick="location.href='PostForm'">
                        <path id="header_menu_post_1"
                              d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                        <path id="header_menu_post_2"
                              d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
                    </svg>
                </div>
                <div id="header_menu_post_on" style="width: 26px; height: 26px">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor"
                         class="bi bi-plus-circle-fill header_menu_icon" viewBox="0 0 16 16"
                         onclick="location.href='PostForm'">
                        <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3v-3z"/>
                    </svg>
                </div>
            </div>


            <div class="dropdown">
                <div class="header_menu_account_wrap">
                    <div id="header_menu_account" style="width: 26px; height: 30px">
                        <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="currentColor"
                             class="bi bi-house header_menu_icon header_dropdown_menu_icon" viewBox="0 0 16 16">
                            <path fill-rule="evenodd"
                                  d="M2 13.5V7h1v6.5a.5.5 0 0 0 .5.5h9a.5.5 0 0 0 .5-.5V7h1v6.5a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 13.5zm11-11V6l-2-2V2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5z"/>
                            <path fill-rule="evenodd"
                                  d="M7.293 1.5a1 1 0 0 1 1.414 0l6.647 6.646a.5.5 0 0 1-.708.708L8 2.207 1.354 8.854a.5.5 0 1 1-.708-.708L7.293 1.5z"/>
                        </svg>
                    </div>
                    <div id="header_menu_account_on" style="width: 26px; height: 30px">
                        <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="currentColor"
                             class="bi bi-house-fill" viewBox="0 0 16 16">
                            <path fill-rule="evenodd"
                                  d="m8 3.293 6 6V13.5a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 13.5V9.293l6-6zm5-.793V6l-2-2V2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5z"/>
                            <path fill-rule="evenodd"
                                  d="M7.293 1.5a1 1 0 0 1 1.414 0l6.647 6.646a.5.5 0 0 1-.708.708L8 2.207 1.354 8.854a.5.5 0 1 1-.708-.708L7.293 1.5z"/>
                        </svg>
                    </div>
                </div>

                <div class="dropdown-content">
                    <a th:if="${session.loginId ne null}" th:href="@{hView(Hid=${session.loginId})}"
                       class="dropdown_content_list">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                             class="bi bi-person-circle dropdown_content_icon" viewBox="0 0 16 16">
                            <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
                            <path fill-rule="evenodd"
                                  d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
                        </svg>
                        <span class="dropdown_text">프로필</span>
                    </a>
                    <a th:if="${session.loginId ne null}" th:href="@{hModifyForm(Hid=${session.loginId})}"
                       class="dropdown_content_list">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                             class="bi bi-gear-wide dropdown_content_icon" viewBox="0 0 16 16">
                            <path d="M8.932.727c-.243-.97-1.62-.97-1.864 0l-.071.286a.96.96 0 0 1-1.622.434l-.205-.211c-.695-.719-1.888-.03-1.613.931l.08.284a.96.96 0 0 1-1.186 1.187l-.284-.081c-.96-.275-1.65.918-.931 1.613l.211.205a.96.96 0 0 1-.434 1.622l-.286.071c-.97.243-.97 1.62 0 1.864l.286.071a.96.96 0 0 1 .434 1.622l-.211.205c-.719.695-.03 1.888.931 1.613l.284-.08a.96.96 0 0 1 1.187 1.187l-.081.283c-.275.96.918 1.65 1.613.931l.205-.211a.96.96 0 0 1 1.622.434l.071.286c.243.97 1.62.97 1.864 0l.071-.286a.96.96 0 0 1 1.622-.434l.205.211c.695.719 1.888.03 1.613-.931l-.08-.284a.96.96 0 0 1 1.187-1.187l.283.081c.96.275 1.65-.918.931-1.613l-.211-.205a.96.96 0 0 1 .434-1.622l.286-.071c.97-.243.97-1.62 0-1.864l-.286-.071a.96.96 0 0 1-.434-1.622l.211-.205c.719-.695.03-1.888-.931-1.613l-.284.08a.96.96 0 0 1-1.187-1.186l.081-.284c.275-.96-.918-1.65-1.613-.931l-.205.211a.96.96 0 0 1-1.622-.434L8.932.727zM8 12.997a4.998 4.998 0 1 1 0-9.995 4.998 4.998 0 0 1 0 9.996z"/>
                        </svg>
                        <span class="dropdown_text">설정</span>
                    </a>
                    <a th:if="${session.loginId eq null}" href="hjoinForm" class="dropdown_content_list">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                             class="bi bi-person-plus dropdown_content_icon" viewBox="0 0 16 16">
                            <path d="M6 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm4 8c0 1-1 1-1 1H1s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C9.516 10.68 8.289 10 6 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z"/>
                            <path fill-rule="evenodd"
                                  d="M13.5 5a.5.5 0 0 1 .5.5V7h1.5a.5.5 0 0 1 0 1H14v1.5a.5.5 0 0 1-1 0V8h-1.5a.5.5 0 0 1 0-1H13V5.5a.5.5 0 0 1 .5-.5z"/>
                        </svg>
                        <span class="dropdown_text">회원가입</span>
                    </a>
                    <a th:if="${session.loginId eq null}" href="hLoginForm" class="dropdown_content_list">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                             class="bi bi-box-arrow-in-right dropdown_content_icon" viewBox="0 0 16 16">
                            <path fill-rule="evenodd"
                                  d="M6 3.5a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-2a.5.5 0 0 0-1 0v2A1.5 1.5 0 0 0 6.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-8A1.5 1.5 0 0 0 5 3.5v2a.5.5 0 0 0 1 0v-2z"/>
                            <path fill-rule="evenodd"
                                  d="M11.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H1.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z"/>
                        </svg>
                        <span class="dropdown_text">로그인</span>
                    </a>
                    <a th:if="${session.loginId ne null}" href="hLogout" class="dropdown_content_list">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                             class="bi bi-x-circle dropdown_content_icon" viewBox="0 0 16 16">
                            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                            <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
                        </svg>
                        <span class="dropdown_text">로그아웃</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</header>

<div class="post_main_wrap">
    <form action="pUpload" method="POST" id="postForm" enctype="multipart/form-data">
        <div class="post_main_imgfile">
            <label for="post_main_imgfile_btn_none">ddd</label>
            <p class="post_main_imgfile_text">게시물 사진을 여기에 끌어다 놓으세요</p>
            <input type="file" name="Pfile" id="u_file" accept="image/*" class="post_main_imgfile_btn_none" id="post_main_imgfile_btn_none">
        </div>
        <div id="imgViewArea" style="display: none;">
            <img id="imgArea" class="post_img_preview" onerror="imgAreaError()">
        </div>
        <div class="imgRatioBox">
            <button type="button" id="1_1" onclick="ratio(1)">1:1</button>
            <button type="button" id="4_5" onclick="ratio(2)">4:5</button>
            <button type="button" id="16_9" onclick="ratio(3)">16:9</button>
        </div>

        <div>
            <input type="hidden" name="imgRatioWidth" id="imgRatioWidth" value="">
            <input type="hidden" name="imgRatioHeight" id="imgRatioHeight" value="">
            <input type="hidden" name="imgTop" id="imgTop" value="">
            <input type="hidden" name="imgLeft" id="imgLeft" value="">
        </div>


        <div class="post_main_content_wrap">
            <input type="text" name="Ptitle" placeholder="제목">
            <input type="text" name="Pcontent" placeholder="내용">

            스타일
            <select name="Pstyle">
                <option value="casual">캐주얼</option>
                <option value="minimal">미니멀</option>
                <option value="street">스트릿</option>
                <option value="amekaji">아메카지</option>
                <option value="cityboy">시티보이</option>
                <option value="classic">클래식</option>
                <option value="other">기타</option>
            </select>
        </div>

            <table id="mytable" border="1" cellspacing="0" style="display: none">
                <thead>
                <tr>
                    <th>상품 사진</th>
                    <th>카테고리</th>
                    <th>브랜드</th>
                    <th>상품명</th>
                    <th>상품 가격</th>
                    <th>상품 사진 업로드</th>
                </tr>
                </thead>
                <tbody></tbody>

                <tr>
                    <td>


                    </td>

                </tr>
        </table>
        <div id="imgResult">
        </div>

        <input type="button" value="등록" onclick="finalSubmit()">

    </form>
</div>


<button id='btn-add-row'>+</button>
<button id='btn-delete-row'>-</button>


</body>

<script type="text/javascript" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>
    let imgArea = document.getElementById('imgArea');
    let imgViewArea = document.getElementById('imgViewArea');
    $('#imgArea').mousedown(function (event) {
        let imageNaturalWidth = document.getElementById("imgArea").naturalWidth;
        let imageNaturalHeight = document.getElementById("imgArea").naturalHeight;
        console.log(imageNaturalWidth + "," + imageNaturalHeight);
        if(imageNaturalWidth - imageNaturalHeight > 0) {
            $('#imgArea').css('width', 'auto');
        }
        else{
            $('#imgArea').css('height', 'auto');
        }

        let shiftX = event.clientX - imgArea.getBoundingClientRect().left;
        let shiftY = event.clientY - imgArea.getBoundingClientRect().top;

        imgArea.style.zIndex = 1000;

        moveAt(event.pageX - imgViewArea.getBoundingClientRect().left, event.pageY - imgViewArea.getBoundingClientRect().top);

        function moveAt(pageX, pageY) {
            imgArea.style.left = pageX - shiftX + 'px';
            imgArea.style.top = pageY - shiftY + 'px';
        }

        function onMouseMove(event) {
            moveAt(event.pageX - imgViewArea.getBoundingClientRect().left, event.pageY - imgViewArea.getBoundingClientRect().top);
        }

        document.addEventListener('mousemove', onMouseMove);

        imgArea.onmouseup = function () {
            $('#imgArea').css('transition','0.3s');
            document.removeEventListener('mousemove', onMouseMove);
            imgArea.onmouseup = null;
            spaceCheck();
            imgArea.addEventListener("transitionend", function (){
                $('#imgArea').css('transition','none');
            });
        };

        $("#imgViewArea").mouseleave(function(){
            $('#imgArea').css('transition','0.3s');
            console.log('mouseleave');
            document.removeEventListener('mousemove', onMouseMove);
            imgArea.onmouseup = null;
            spaceCheck();
            imgArea.addEventListener("transitionend", function (){
                $('#imgArea').css('transition','none');
            });
        });

        function spaceCheck() {
            let imgTop = $('#imgArea').css('top');
            let imgLeft = $('#imgArea').css('left');
            let imgRight = $('#imgArea').css('right');
            let imgBottom = $('#imgArea').css('bottom');
            if(imgTop.replace('px','') > 0) {
                $('#imgArea').css('top','0px');
            }
            if(imgLeft.replace('px','') > 0) {
                $('#imgArea').css('left','0px');
            }
            if(imgRight.replace('px','') > 0) {
                $('#imgArea').css('right','0px');
            }
            if(imgBottom.replace('px','') > 0) {
                $('#imgArea').css('bottom','0px');
            }
        }

        function updateTransition() {
            imgArea.style.transition = "none";
        }
    });

    imgArea.ondragstart = function () {
        return false;
    };

    function ratio(num) {
        if(num == 1) {
            $('#imgViewArea').css('width','500px');
            $('#imgViewArea').css('height','500px');
        }
        else if(num == 2){
            $('#imgViewArea').css('width','500px');
            $('#imgViewArea').css('height','625px');
        }
        else{
            $('#imgViewArea').css('width','888.88px');
            $('#imgViewArea').css('height','500px');
        }
    }
</script>

<script type="text/javascript">

    let imgNum = 0;
    let TotNum = 0;

    $('#btn-add-row').click(function () {
        ++imgNum;
        $('#mytable > tbody:last').append('<tr class="product_list"><td>' +
            '  <div><img src=""  class="selectedImg" width="100px" height="100px"></div> ' + '</td><td>' +
            '<select name="Pcategory">\n' +
            '            <option value="cap">모자</option>\n' +
            '            <option value="outer">아우터</option>\n' +
            '            <option value="top">상의</option>\n' +
            '            <option value="bottom">하의</option>\n' +
            '            <option value="shoes">신발</option>\n' +
            '            <option value="accessories">악세서리</option>\n' +
            '</td><td>' + '<input type="text" name="Pbrand" id="Pbrand'+imgNum+'" placeholder="브랜드">' + '</td>' +
            '</td><td>' + '<input type="text" name="PproductName" id="Pproduct'+imgNum+'" placeholder="상품명">' + '</td>' +
            '</td><td>' + '<input type="text" name="Pprice" placeholder="상품 가격">' + '</td>' +
            '</td><td>' + '<input type="file" class="PproductFile" id="ProductFile" name="PproductFile" placeholder="상품 사진"></td>' +
            '<td><button type="button" class="img_btn_class" id="imgBtn'+imgNum+'" onclick="searchImg(' +
            'function listNum(){return  ' + imgNum + ';})">이미지 검색</button>' +
            '<input type="hidden" value="" class="PproductFileImg" name="PproductFileImg"></td>' +
            '<td><div class="select_list"><img class="select_img" src="" width="100px" height="100px">' +
            '<img class="select_img" src="" width="100px" height="100px">' +
            '<img class="select_img" src="" width="100px" height="100px"></div></td>' +
            '');

    });

    $('#btn-delete-row').click(function () {
        $('#mytable > tbody > tr:last').remove();
        imgNum--;
    });

    function searchImg(num) {
        searchImgAjax(searchName(num()), num());
    }

    function searchName(num) {
        let Pbrand = document.getElementById(`Pbrand${num}`).value;
        let Pproduct = document.getElementById(`Pproduct${num}`).value;

        let PbrandArr = Pbrand.replace(" ","+");
        let PproductArr = Pproduct.replace(" ","+");

        console.log(PbrandArr);
        console.log(PproductArr);

        let Product = PbrandArr + '+' + PproductArr;
        return Product;
    }

    function searchImgAjax(Product, num) {
        let ListNum = num;
        $.ajax({
            type: "GET",
            url: "PostProductImg",
            data: {"PIMG": Product},
            async: false,
            dataType: "json",
            success: function (data) {
                SelectImg(data.Img0,data.Img1,data.Img2,ListNum);
            },
            error: function () {
                // 실패시
                alert("잠시 후 시도해 주세요")
            }
        });
    }

    function SelectImg(Img0, Img1, Img2, num) {
        let SelectList = document.getElementsByClassName("select_list");
        let SelectImgList = document.getElementsByClassName("select_img");
        let Img = [Img0,Img1,Img2];

        SelectList[num-1].style.display = "block";

        let i, j;
        if(num === 1) {
            i = 0;
        }else{
            i = (num-1) * 3;
        }

        j = 0;

        for(i; i<i+3; i++) {
            SelectImgList[i].src = Img[j];
            console.log(Img[j]);
            SelectImgList[i].setAttribute("onClick", `FinalSelectImg(\"${Img[j]}"\,\"${num}"\)`);
            j++;
        }
    }

    function FinalSelectImg(src,num){
        console.log(num-1);
        console.log(src);
        $(`.select_list:eq(${num-1})`).css('display','none');
        $(`.selectedImg:eq(${num-1})`).css('display','block');
        $(`.selectedImg:eq(${num-1})`).attr('src',`${src}`);
        $(`.PproductFileImg:eq(${num-1})`).attr('value',`${src}`);
    }

    function finalSubmit(){
        $('#imgRatioWidth').attr('value',$('#imgArea').css('width'));
        $('#imgRatioHeight').attr('value',$('#imgArea').css('height'));
        $('#imgTop').attr('value',$('#imgArea').css('top'));
        $('#imgLeft').attr('value',$('#imgArea').css('left'));

        let postForm = document.getElementById('postForm');
        postForm.submit();
    }
</script>


<!-- 이미지 미리보기 영역 -->

<script type="text/javascript">
    // 콘텐츠 수정 :: 사진 수정 시 이미지 미리보기
    function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function(e) {
                $('#imgArea').attr('src', e.target.result);
            }
            reader.readAsDataURL(input.files[0]);
        }
    }

    $(":input[name='Pfile']").change(function() {
        if( $(":input[name='Pfile']").val() == '' ) {
            $('#imgArea').attr('src' , '');
        }
        $('#imgViewArea').css({ 'display' : '' });
        readURL(this);

    });


</script>

<script type="text/javascript">
    var message = '${msg}';
    alert(msg);


</script>

<script type="text/javascript" src="/js/OTQQU.js"></script>
<script src='/js/jquery.js'></script>
<script src='/js/plugins.js'></script>
<script src='/js/scripts.js'></script>
<script src='/js/masonry.pkgd.min.js'></script>
</html>