<!DOCTYPE html>

<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta http-equiv="Content-type" content="text/html;charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="OTQQU"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel='stylesheet' href='css/woocommerce-layout.css' type='text/css' media='all'/>
    <link rel='stylesheet' href='css/woocommerce-smallscreen.css' type='text/css' media='only screen and (max-width: 768px)'/>
    <link rel='stylesheet' href='css/woocommerce.css' type='text/css' media='all'/>
    <link rel='stylesheet' href='css/font-awesome.min.css' type='text/css' media='all'/>
    <link rel='stylesheet' href='css/style.css' type='text/css' media='all'/>
    <link rel='stylesheet' href='css/easy-responsive-shortcodes.css' type='text/css' media='all'/>
    <link rel="stylesheet" href="css/OTQQU.css">
    <link rel="stylesheet" href="css/Post.css">
    <link rel="shortcut icon" href="default/favi.ico">
    <title>옷:꾸-게시글 작성</title>
</head>
<script type="text/javascript" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<style>
</style>
<body class="wrap">

<header class="site-header" style="margin: 0 auto; padding:0; height: 80px; background-color: #fff">
    <div style="height: 80px; border-bottom: 1px solid #888888;">
        <div class="site_branding">
            <h1 class="site_title"><a href="Main" rel="home">Otqqu</a></h1>

            <form action="searchInfo" method="GET">
                <div class="search_input_wrap">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                         class="bi bi-search bi_search" viewBox="0 0 16 16">
                        <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                    </svg>
                    <input type="text" name="keyword" id="searchInput" class="search_input" placeholder="검색"
                           style="border: 0; padding-left: 16px;" autocomplete="off" onkeyup="search()">
                    <div class="search_list_wrap" style="border-radius: 100px;">
                        <div id="searchDIV" class="search_list">

                        </div>
                    </div>

                </div>
            </form>

            <div class="header_menu">
                <div id="header_menu_post_wrap">
                    <div style="width: 26px; height: 26px; display: block">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor"
                             class="bi bi-plus-circle-fill header_menu_icon" viewBox="0 0 16 16"
                             onclick="location.href='PostForm'">
                            <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3v-3z"/>
                        </svg>
                    </div>
                </div>


                <div class="dropdown">
                    <div class="header_menu_account_wrap">
                        <div id="header_menu_account" style="width: 26px; height: 30px">
                            <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="currentColor"
                                 class="bi bi-house header_menu_icon header_dropdown_menu_icon" viewBox="0 0 16 16">
                                <path fill-rule="evenodd"
                                      d="M2 13.5V7h1v6.5a.5.5 0 0 0 .5.5h9a.5.5 0 0 0 .5-.5V7h1v6.5a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 13.5zm11-11V6l-2-2V2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5z"/>
                                <path fill-rule="evenodd"
                                      d="M7.293 1.5a1 1 0 0 1 1.414 0l6.647 6.646a.5.5 0 0 1-.708.708L8 2.207 1.354 8.854a.5.5 0 1 1-.708-.708L7.293 1.5z"/>
                            </svg>
                        </div>
                        <div id="header_menu_account_on" style="width: 26px; height: 30px">
                            <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="currentColor"
                                 class="bi bi-house-fill" viewBox="0 0 16 16">
                                <path fill-rule="evenodd"
                                      d="m8 3.293 6 6V13.5a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 13.5V9.293l6-6zm5-.793V6l-2-2V2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5z"/>
                                <path fill-rule="evenodd"
                                      d="M7.293 1.5a1 1 0 0 1 1.414 0l6.647 6.646a.5.5 0 0 1-.708.708L8 2.207 1.354 8.854a.5.5 0 1 1-.708-.708L7.293 1.5z"/>
                            </svg>
                        </div>
                    </div>

                    <div class="dropdown-content">
                        <a th:if="${session.loginId ne null}" th:href="@{hView(Hid=${session.loginId})}"
                           class="dropdown_content_list">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                 class="bi bi-person-circle dropdown_content_icon" viewBox="0 0 16 16">
                                <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
                                <path fill-rule="evenodd"
                                      d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
                            </svg>
                            <span class="dropdown_text">프로필</span>
                        </a>
                        <a th:if="${session.loginId ne null}" th:href="@{hModifyForm(Hid=${session.loginId})}"
                           class="dropdown_content_list">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                 class="bi bi-gear-wide dropdown_content_icon" viewBox="0 0 16 16">
                                <path d="M8.932.727c-.243-.97-1.62-.97-1.864 0l-.071.286a.96.96 0 0 1-1.622.434l-.205-.211c-.695-.719-1.888-.03-1.613.931l.08.284a.96.96 0 0 1-1.186 1.187l-.284-.081c-.96-.275-1.65.918-.931 1.613l.211.205a.96.96 0 0 1-.434 1.622l-.286.071c-.97.243-.97 1.62 0 1.864l.286.071a.96.96 0 0 1 .434 1.622l-.211.205c-.719.695-.03 1.888.931 1.613l.284-.08a.96.96 0 0 1 1.187 1.187l-.081.283c-.275.96.918 1.65 1.613.931l.205-.211a.96.96 0 0 1 1.622.434l.071.286c.243.97 1.62.97 1.864 0l.071-.286a.96.96 0 0 1 1.622-.434l.205.211c.695.719 1.888.03 1.613-.931l-.08-.284a.96.96 0 0 1 1.187-1.187l.283.081c.96.275 1.65-.918.931-1.613l-.211-.205a.96.96 0 0 1 .434-1.622l.286-.071c.97-.243.97-1.62 0-1.864l-.286-.071a.96.96 0 0 1-.434-1.622l.211-.205c.719-.695.03-1.888-.931-1.613l-.284.08a.96.96 0 0 1-1.187-1.186l.081-.284c.275-.96-.918-1.65-1.613-.931l-.205.211a.96.96 0 0 1-1.622-.434L8.932.727zM8 12.997a4.998 4.998 0 1 1 0-9.995 4.998 4.998 0 0 1 0 9.996z"/>
                            </svg>
                            <span class="dropdown_text">설정</span>
                        </a>
                        <a th:if="${session.loginId eq null}" href="hjoinForm" class="dropdown_content_list">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                 class="bi bi-person-plus dropdown_content_icon" viewBox="0 0 16 16">
                                <path d="M6 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm4 8c0 1-1 1-1 1H1s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C9.516 10.68 8.289 10 6 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z"/>
                                <path fill-rule="evenodd"
                                      d="M13.5 5a.5.5 0 0 1 .5.5V7h1.5a.5.5 0 0 1 0 1H14v1.5a.5.5 0 0 1-1 0V8h-1.5a.5.5 0 0 1 0-1H13V5.5a.5.5 0 0 1 .5-.5z"/>
                            </svg>
                            <span class="dropdown_text">회원가입</span>
                        </a>
                        <a th:if="${session.loginId eq null}" href="hLoginForm" class="dropdown_content_list">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                 class="bi bi-box-arrow-in-right dropdown_content_icon" viewBox="0 0 16 16">
                                <path fill-rule="evenodd"
                                      d="M6 3.5a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-2a.5.5 0 0 0-1 0v2A1.5 1.5 0 0 0 6.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-8A1.5 1.5 0 0 0 5 3.5v2a.5.5 0 0 0 1 0v-2z"/>
                                <path fill-rule="evenodd"
                                      d="M11.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H1.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z"/>
                            </svg>
                            <span class="dropdown_text">로그인</span>
                        </a>
                        <a th:if="${session.loginId ne null}" href="hLogout" class="dropdown_content_list">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                 class="bi bi-x-circle dropdown_content_icon" viewBox="0 0 16 16">
                                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                                <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
                            </svg>
                            <span class="dropdown_text">로그아웃</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</header>

<div class="post_main_background">
    <div class="post_main_wrap">
        <div class="post_main_text_wrap">
            <div class="post_main_text_left"></div>
            <h2 class="post_main_text">새 게시물 작성
            </h2>
            <input type="button" value="등록" onclick="finalSubmit()" class="post_submit"
                   style="background-color: #fff; border: 0; font-size: 16px; color: #0095F6; font-family: 'Segoe UI'; font-weight: 600; ">
        </div>
        <form action="pUpload" method="POST" id="postForm" enctype="multipart/form-data" class="post_main_form">
            <div class="post_main_imgfile" id="drop">
                <label class="post_main_img_area">
                    <label class="post_main_img_btn">
                        이미지를 선택해주세요
                        <input type="file" name="Pfile" id="u_file" accept="image/*" class="post_main_img_none">
                    </label>

                </label>

                <div id="imgViewArea" style="display: none;">
                    <img id="imgArea" class="post_img_preview" onerror="imgAreaError()" alt="Post Image" width="640px" height="640px">
                </div>
                <div class="imgRatioBox">
                    <button type="button" id="1_1" onclick="ratio(1)" class="imgRatio"
                            style="background-color: #262626; border: 0; color: #fff; border-radius: 10px; padding: 3px 10px">1:1</button>
                    <button type="button" id="4_5" onclick="ratio(2)" class="imgRatio"
                            style="background-color: #262626; border: 0; color: #fff; border-radius: 10px; padding: 3px 10px">4:5</button>
                    <button type="button" id="16_9" onclick="ratio(3)" class="imgRatio"
                            style="background-color: #262626; border: 0; color: #fff; border-radius: 10px; padding: 3px 10px">16:9</button>
                </div>
            </div>


            <div style="display: none">
                <input type="hidden" name="imgRatioWidth" id="imgRatioWidth" value="">
                <input type="hidden" name="imgRatioHeight" id="imgRatioHeight" value="">
                <input type="hidden" name="imgTop" id="imgTop" value="">
                <input type="hidden" name="imgLeft" id="imgLeft" value="">
                <input type="hidden" name="Ratio" id="imgRatio" value="1">
            </div>


            <div class="post_main_content_wrap">
                <div class="post_main_id_wrap">
                    <img th:if="${Hfile ne null}" th:src="@{/profile/{Hfile}(Hfile=${Hfile})}" class="post_main_id_img">
                    <img th:if="${Hfile eq null}" th:src="@{/profile/defaultProfile.png}" class="post_main_id_img">
                    <span th:text="${session.loginId}" class="post_main_id"></span>
                    <input type="text" name="Ptitle" placeholder="제목입력" class="post_main_id_title" style="border: 0;" autocomplete="off">
                </div>

                <textarea name="Pcontent" placeholder="내용을 입력하세요" class="post_main_id_content" autocomplete="off"></textarea>

                <select name="Pstyle" class="post_main_style">
                    <option value="ohter"selected>스타일</option>
                    <option value="casual">캐주얼</option>
                    <option value="minimal">미니멀</option>
                    <option value="street">스트릿</option>
                    <option value="amekaji">아메카지</option>
                    <option value="cityboy">시티보이</option>
                    <option value="classic">클래식</option>
                    <option value="other">기타</option>
                </select>

                <div class="product_box_wrap_wrap">
                    <div id="product_box_wrap">
                        <div class="product_box" id="product_box1" onclick="productToggle(1)">
                            <span id="product_box_text_1">착용상품 정보</span>
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-down product_box_arrow" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/>
                            </svg>
                        </div>
                        <div class="product1 product" style="display: none">
                            <div class="product_img_brand">
                                <div class="selectedImg">
                                    <img src="default/default_product.png" class="product_selected_img1" id="product_selected_img" width="80px" height="80px">
                                </div>
                                <select name="Pcategory" id="product_category1" class="product_category" onclick="selectClick('1')">
                                    <option value="cap" selected>모자</option>
                                    <option value="outer">아우터</option>
                                    <option value="top">상의</option>
                                    <option value="bottom">하의</option>
                                    <option value="shoes">신발</option>
                                    <option value="accessories">악세서리</option>
                                </select>
                                <input type="text" name="Pbrand" id="Pbrand1" placeholder="브랜드" class="product_brand" style="border: 0; border-bottom: 1px solid #888888;">
                                <input type="text" name="PproductName" id="Pproduct1" placeholder="상품명" class="product_name" style="border: 0; border-bottom: 1px solid #888888;">
                                <input type="number" name="Pprice" id="Pprice1" placeholder="상품 가격" class="product_price" style="border: 0; border-bottom: 1px solid #888888;">
                                <div class="product_search_box">
                                    <label class="product_local_file" onclick="ProductFileView('1')">
                                        컴퓨터 이미지 선택
                                        <input type="file" class="PproductFile" id="ProductFile1" name="PproductFile" placeholder="상품 사진">
                                    </label>
                                    <div type="button" class="img_btn_class" id="imgBtn'+imgNum+'" onclick="searchImg('1')">이미지 검색</div>
                                </div>
                                <div class="select_list">
                                    <img class="select_img" src="" width="96px" height="96px">
                                    <img class="select_img" src="" width="96px" height="96px">
                                    <img class="select_img" src="" width="96px" height="96px">
                                </div>
                                <input type="hidden" value="" class="PproductFileImg1" name="PproductFileImg"></td>
                            </div>
                        </div>
                    </div>
                    <div class="product_plus_btn">
                        <div id="btn-add-row" class="product_btn">상품추가</div>
                        <div id="btn-delete-row" class="product_btn">상품삭제</div>
                    </div>
                </div>

            </div>
        </form>
    </div>

    <footer class="footer">
        <div class="footer_list">
            <a href="#" class="footer_text">김효섭</a>
            <a href="#" class="footer_text">김현민</a>
            <a href="#" class="footer_text">차해성</a>
            <a href="#" class="footer_text">박은빈</a>
            <a href="#" class="footer_text">ICIA</a>
            <a href="#" class="footer_text">위치</a>
        </div>
        <div class="footer_list_2">
            <span>이 프로젝트는 상업적으로 이용하지 않는 연습 프로젝트입니다</span><br/>
            <span class="footer_text">reference by <a href="https://www.instagram.com" target="_blank">Instagram</a></span>
        </div>
    </footer>
</div>
</body>


<script type="text/javascript" src="/js/Main.js"></script>
<script>
    $('.product').hide();
    function productToggle(num){
        let box = $(`#product_box${num}`);
        for (i=1; i<num; i++){
            $(`#product_box${i}`).slideToggle(300);
        }
        $(".product").not($(box).next(".product").slideToggle(300)).slideUp();
    }

    function boxBorder(num){
        $(`#product_box${num}`).css('border-bottom', '1px solid #888888');
    }

    function selectClick(num){
        let categorySelect = $(`#product_category${num} option:selected`).text();
        $(`#product_box_text_${num}`).empty();
        $(`#product_box_text_${num}`).text(categorySelect);
    }


</script>
<script>
    $("#u_file").change(function(){
        $('.post_main_img_area').css('display','none');
        $('.imgRatioBox').css('display','block');
    });
</script>

<script>
    let imgArea = document.getElementById('imgArea');
    let imgViewArea = document.getElementById('imgViewArea');
    imgArea.addEventListener('mouseenter',function(){
        let imageNaturalWidth = document.getElementById("imgArea").naturalWidth;
        let imageNaturalHeight = document.getElementById("imgArea").naturalHeight;
        $('#imgArea').css('min-width', '640px');
        $('#imgArea').css('min-height', '640px');
        console.log(imageNaturalWidth + "," + imageNaturalHeight);
        console.log(imageNaturalWidth - imageNaturalHeight)
        if(imageNaturalWidth - imageNaturalHeight > 0) {
            $('#imgArea').attr('width', `${(640*imageNaturalWidth)/imageNaturalHeight}px`);
            $('#imgArea').css('width', `${(640*imageNaturalWidth)/imageNaturalHeight}px`);
            $('#imgArea').css('min-width', `${(640*imageNaturalWidth)/imageNaturalHeight}px`);
            console.log($('#imgArea').attr('width'));
        }
        else{
            $('#imgArea').attr('height', `${(640*imageNaturalHeight)/imageNaturalWidth}px`);
            $('#imgArea').css('height', `${(640*imageNaturalHeight)/imageNaturalWidth}px`);
            $('#imgArea').css('min-height', `${(640*imageNaturalHeight)/imageNaturalWidth}px`);
            console.log($('#imgArea').attr('height'));
        }
    },{once:true});
    $('#imgArea').mousedown(function (event) {

        let shiftX = event.clientX - imgArea.getBoundingClientRect().left;
        let shiftY = event.clientY - imgArea.getBoundingClientRect().top;

        imgArea.style.zIndex = 1000;

        moveAt(event.clientX - imgViewArea.getBoundingClientRect().left, event.clientY - imgViewArea.getBoundingClientRect().top);

        function moveAt(pageX, pageY) {
            imgArea.style.left = pageX - shiftX + (-1) +'px';
            imgArea.style.top = pageY - shiftY + (-1) +'px';
        }

        function onMouseMove(event) {
            moveAt(event.clientX - imgViewArea.getBoundingClientRect().left, event.clientY - imgViewArea.getBoundingClientRect().top);
        }

        document.addEventListener('mousemove', onMouseMove);

        imgArea.onmouseup = function () {
            document.removeEventListener('mousemove', onMouseMove);
            imgArea.onmouseup = null;
            spaceCheck();
        };

        $("#imgViewArea").mouseleave(function(){
            console.log('mouseleave');
            document.removeEventListener('mousemove', onMouseMove);
            imgArea.onmouseup = null;
            spaceCheck();
        });

        function spaceCheck() {
            let imgTop = $('#imgArea').css('top');
            let imgLeft = $('#imgArea').css('left');
            let imgRight = $('#imgArea').css('right');
            let imgBottom = $('#imgArea').css('bottom');
            if(imgTop.replace('px','') > 0) {
                $('#imgArea').css('top','0px');
            }
            if(imgLeft.replace('px','') > 0) {
                $('#imgArea').css('left','0px');
            }
            if(imgRight.replace('px','') > 0) {
                $('#imgArea').css('right','0px');
            }
            if(imgBottom.replace('px','') > 0) {
                $('#imgArea').css('bottom','0px');
            }
        }

        function updateTransition() {
            imgArea.style.transition = "none";
        }
    });

    imgArea.ondragstart = function () {
        return false;
    };

    function ratio(num) {
        let imageNaturalWidth = document.getElementById("imgArea").naturalWidth;
        let imageNaturalHeight = document.getElementById("imgArea").naturalHeight;
        let size = imageNaturalWidth-imageNaturalHeight;
        console.log(imageNaturalWidth);
        console.log(imageNaturalHeight);
        console.log(size)
        if(num == 1) {
            $('#imgViewArea').css('width','640px');
            $('#imgViewArea').css('height','640px');
            $('#imgRatio').attr('value','');
            $('#imgRatio').attr('value',1);
            if(imageNaturalWidth - imageNaturalHeight > 0) {
                $('#imgArea').attr('width', `${(640*imageNaturalWidth)/imageNaturalHeight}px`);
                $('#imgArea').css('width', `${(640*imageNaturalWidth)/imageNaturalHeight}px`);
                $('#imgArea').css('min-width', `${(640*imageNaturalWidth)/imageNaturalHeight}px`);
                console.log($('#imgArea').attr('width'));
            }
            else{
                $('#imgArea').attr('height', `${(640*imageNaturalHeight)/imageNaturalWidth}px`);
                $('#imgArea').css('height', `${(640*imageNaturalHeight)/imageNaturalWidth}px`);
                $('#imgArea').css('min-height', `${(640*imageNaturalHeight)/imageNaturalWidth}px`);
                console.log($('#imgArea').attr('height'));
            }
        }
        else if(num == 2){
            $('#imgViewArea').css('width','512px');
            $('#imgViewArea').css('height','640px');
            if (size < 0){
                $('#imgArea').css('min-width','512px');
                $('#imgArea').css('min-height','auto');
                $('#imgArea').css('height','auto');
            }else if (size > 0){
                $('#imgArea').css('min-height','640px');
                $('#imgArea').css('height','640px');
                $('#imgArea').css('min-width',`${(640*imageNaturalWidth)/imageNaturalHeight}`);
                $('#imgArea').css('width',`${(640*imageNaturalWidth)/imageNaturalHeight}`);
            }
            $('#imgRatio').attr('value','');
            $('#imgRatio').attr('value',2);
        }
        else if(num ==3){
            $('#imgViewArea').css('width','640px');
            $('#imgViewArea').css('height','360px');
            if (size < 0){
                $('#imgArea').css('min-width','640px');
                $('#imgArea').css('height','auto');
            }else if (size > 0){
                $('#imgArea').css('min-height','auto');
                $('#imgArea').css('height','auto');
                $('#imgArea').css('min-width','640px');
                $('#imgArea').css('width','640px');
            }

            $('#imgRatio').attr('value','');
            $('#imgRatio').attr('value',3);
        }
    }
</script>

<script type="text/javascript">

    let imgNum = 1;
    let TotNum = 1;

    $('#btn-add-row').click(function () {
        ++imgNum;
        $('#product_box_wrap').append(`
            <div class="product_box" id="product_box${imgNum}" onclick="productToggle(${imgNum})">
                        <span id="product_box_text_${imgNum}">착용상품 정보</span>
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-down product_box_arrow" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/>
                        </svg>
                    </div>
                    <div class="product${imgNum} product" style="display: none">
                        <div class="product_img_brand">
                            <div class="selectedImg">
                                <img src="default/default_product.png" class="product_selected_img${imgNum}" id="product_selected_img${imgNum}" width="80px" height="80px">
                            </div>
                            <select name="Pcategory" id="product_category${imgNum}" class="product_category" onclick="selectClick(${imgNum})" required>
                                <option value="cap" selected>모자</option>
                                <option value="outer">아우터</option>
                                <option value="top">상의</option>
                                <option value="bottom">하의</option>
                                <option value="shoes">신발</option>
                                <option value="accessories">악세서리</option>
                            </select>
                            <input type="text" name="Pbrand" id="Pbrand${imgNum}" placeholder="브랜드" class="product_brand" style="border: 0; border-bottom: 1px solid #888888;" required>
                            <input type="text" name="PproductName" id="Pproduct${imgNum}" placeholder="상품명" class="product_name" style="border: 0; border-bottom: 1px solid #888888;" required>
                            <input type="number" name="Pprice" id="Pprice${imgNum}" placeholder="상품 가격" class="product_price" style="border: 0; border-bottom: 1px solid #888888;" required>
                            <div class="product_search_box">
                                <label class="product_local_file" onclick="ProductFileView(${imgNum})">
                                    컴퓨터 이미지 선택
                                    <input type="file" class="PproductFile" id="ProductFile${imgNum}" name="PproductFile" placeholder="상품 사진">
                                </label>
                                <div type="button" class="img_btn_class" id="imgBtn'+imgNum+'" onclick="searchImg('${imgNum}')">이미지 검색</div>
                            </div>
                            <div class="select_list">
                                <img class="select_img" src="" width="96px" height="96px">
                                <img class="select_img" src="" width="96px" height="96px">
                                <img class="select_img" src="" width="96px" height="96px">
                            </div>
                            <input type="hidden" value="" class="PproductFileImg${imgNum}" name="PproductFileImg"></td>
                        </div>
                    </div>
        `);

    });

    $('#btn-delete-row').click(function () {
        $('.product_box:last').remove();
        imgNum--;
    });

    function searchImg(num) {
        console.log(num);
        $('.select_list').css('display','flex');
        searchImgAjax(searchName(num), num);
    }

    function searchName(num) {
        let Pbrand = document.getElementById(`Pbrand${num}`).value;
        let Pproduct = document.getElementById(`Pproduct${num}`).value;

        let PbrandArr = Pbrand.replace(" ","+");
        let PproductArr = Pproduct.replace(" ","+");

        console.log(PbrandArr);
        console.log(PproductArr);

        let Product = PbrandArr + '+' + PproductArr;
        return Product;
    }

    function searchImgAjax(Product, num) {
        let ListNum = num;
        $.ajax({
            type: "GET",
            url: "PostProductImg",
            data: {"PIMG": Product},
            async: false,
            dataType: "json",
            success: function (data) {
                SelectImg(data.Img0,data.Img1,data.Img2,ListNum);
            },
            error: function () {
                // 실패시
                alert("잠시 후 시도해 주세요")
            }
        });
    }

    function SelectImg(Img0, Img1, Img2, num) {
        let SelectImgList = document.getElementsByClassName("select_img");
        let Img = [Img0,Img1,Img2];
        let i, j;
        if(num === 1) {
            i = 0;
        }else{
            i = (num-1) * 3;
        }

        j = 0;

        for(i; i<i+3; i++) {
            SelectImgList[i].src = Img[j];
            SelectImgList[i].setAttribute("onClick", `FinalSelectImg(\"${Img[j]}"\,\"${num}"\)`);
            j++;
        }
    }

    function FinalSelectImg(src,num){
        console.log("웹 이미지 선택"+num-1);
        console.log(src);
        $(`.select_list:eq(${num-1})`).css('display','none');
        $(`.product_selected_img${num}`).attr('src',src);
        $(`.PproductFileImg${num}`).attr('value',`${src}`);
    }

    function finalSubmit(){
        $('#imgRatioWidth').attr('value',$('#imgArea').css('width'));
        $('#imgRatioHeight').attr('value',$('#imgArea').css('height'));
        $('#imgTop').attr('value',$('#imgArea').css('top'));
        $('#imgLeft').attr('value',$('#imgArea').css('left'));

        let postForm = document.getElementById('postForm');
        let title = $('.post_main_id_title').val();
        let content = $('.post_main_id_content').val();
        let uFile = $('#u_file').val();
        if(uFile == ''){
            alert("게시물 이미지를 넣어주세요");
            return;
        }
        if(title == ''){
            alert("제목을 입력하세요");
            return;
        }else if(content == ''){
            alert("내용을 입력하세요");
            return;
        }

        for (var i=1; i<=imgNum ;i++){
            let Pbrand = $(`#Pbrand${i}`).val();
            let Pproduct = $(`#Pproduct${i}`).val();
            let Pprice = $(`#Pprice${i}`).val();

            if(Pbrand == "") {
                alert("브랜드를 입력하세요");
                break;
            }else if(Pproduct == ""){
                alert("상품명을 입력하세요");
                break;
            }else if(Pprice == ""){
                alert("가격을 입력하세요");
                break;
            }


            if(i == imgNum){
                postForm.submit();

            }
        }
    }
</script>


<!-- 이미지 미리보기 영역 -->

<script type="text/javascript">
    // 콘텐츠 수정 :: 사진 수정 시 이미지 미리보기
    function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function(e) {
                $('#imgArea').attr('src', e.target.result);
            }
            reader.readAsDataURL(input.files[0]);
        }
    }

    $(":input[name='Pfile']").change(function() {
        if( $(":input[name='Pfile']").val() == '' ) {
            $('#imgArea').attr('src' , '');
        }
        $('#imgViewArea').css({ 'display' : '' });
        readURL(this);

    });

    function readURL2(input,num) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function(e) {
                $(`.product_selected_img${num}`).attr('src', e.target.result);
            }
            reader.readAsDataURL(input.files[0]);
        }
    }

    function ProductFileView(num){
        $(`#ProductFile${num}`).change(function() {
            console.log('number'+num)
            if( $(`#ProductFile${num}`).val() == '' ) {
                $(`.product_selected_img${num}`).attr('src' , '');
            }
            readURL2(this,num);

        });
    }

</script>

<script type="text/javascript">
    var message = '${msg}';
    alert(msg);


</script>

<script type="text/javascript" src="/js/OTQQU.js"></script>
<script src='/js/jquery.js'></script>
<script src='/js/plugins.js'></script>
<script src='/js/scripts.js'></script>
<script src='/js/masonry.pkgd.min.js'></script>
</html>