<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta http-equiv="Content-type" content="text/html;charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Security & Java Mail Sender" />
    <title>test</title>
</head>

<style>
    #imgViewArea {
        position: absolute;
        width: 500px;
        height: 500px;
        overflow: hidden;
        top: 100px;
        left: 500px;
        transition: 0.3s;
        background-color: black;

    }
    .post_img_preview {
        position: relative;
        left: 0;
        top: 0;
        -webkit-user-drag: none;
        transition: none;
        height: 100%;
        width: 100%;
    }
    .imgRatioBox{
        position: absolute;
        z-index: 1000;
        top: 0;
        left: 0;
    }
</style>
<body>

<form action="pUpload" method="POST" id="postForm" enctype="multipart/form-data">

    <table>

        <caption>게시글 등록</caption>
        <tr>
            <td><input type="file" name="Pfile" id="u_file" accept="image/*"></td>
            <td>
                <div id="imgViewArea" style="display: none;">
                    <img id="imgArea" class="post_img_preview" onerror="imgAreaError()">
                </div>
                <div class="imgRatioBox">
                    <button type="button" id="1_1" onclick="ratio(1)">1:1</button>
                    <button type="button" id="4_5" onclick="ratio(2)">4:5</button>
                    <button type="button" id="16_9" onclick="ratio(3)">16:9</button>
                </div>
            </td>
            <td>
                <input type="hidden" name="imgRatioWidth" id="imgRatioWidth" value="">
                <input type="hidden" name="imgRatioHeight" id="imgRatioHeight" value="">
                <input type="hidden" name="imgTop" id="imgTop" value="">
                <input type="hidden" name="imgLeft" id="imgLeft" value="">
            </td>
        </tr>

        <tr>
            <td>제목</td>
            <td><input type="text" name="Ptitle" placeholder="제목"></td>
        </tr>
        <tr>
            <td>내용</td>
            <td><input type="text" name="Pcontent" placeholder="내용"></td>
        </tr>




        <tr>
            <td>스타일</td>
            <td>
                <select name="Pstyle">
                    <option value="casual">캐주얼</option>
                    <option value="minimal">미니멀</option>
                    <option value="street">스트릿</option>
                    <option value="amekaji">아메카지</option>
                    <option value="cityboy">시티보이</option>
                    <option value="classic">클래식</option>
                    <option value="other">기타</option>
                </select>
            </td>

        </tr>
        <tr>
            <td>


            </td>

        </tr>

        <table id="mytable" border="1" cellspacing="0">
            <thead>
            <tr>
                <th>상품 사진</th>
                <th>카테고리</th>
                <th>브랜드</th>
                <th>상품명</th>
                <th>상품 가격</th>
                <th>상품 사진 업로드</th>
            </tr>
            </thead>
            <tbody></tbody>

            <tr>
                <td>


                </td>

            </tr>
        </table>
    </table>
    <div id="imgResult">
    </div>

    <input type="button" value="등록" onclick="finalSubmit()">

</form>

<button id='btn-add-row'>+</button>
<button id='btn-delete-row'>-</button>


</body>

<script type="text/javascript" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>
    let imgArea = document.getElementById('imgArea');
    let imgViewArea = document.getElementById('imgViewArea');
    $('#imgArea').mousedown(function (event) {
        let imageNaturalWidth = document.getElementById("imgArea").naturalWidth;
        let imageNaturalHeight = document.getElementById("imgArea").naturalHeight;
        console.log(imageNaturalWidth + "," + imageNaturalHeight);
        if(imageNaturalWidth - imageNaturalHeight > 0) {
            $('#imgArea').css('width', 'auto');
        }
        else{
            $('#imgArea').css('height', 'auto');
        }

        let shiftX = event.clientX - imgArea.getBoundingClientRect().left;
        let shiftY = event.clientY - imgArea.getBoundingClientRect().top;

        imgArea.style.zIndex = 1000;

        moveAt(event.pageX - imgViewArea.getBoundingClientRect().left, event.pageY - imgViewArea.getBoundingClientRect().top);

        function moveAt(pageX, pageY) {
            imgArea.style.left = pageX - shiftX + 'px';
            imgArea.style.top = pageY - shiftY + 'px';
        }

        function onMouseMove(event) {
            moveAt(event.pageX - imgViewArea.getBoundingClientRect().left, event.pageY - imgViewArea.getBoundingClientRect().top);
        }

        document.addEventListener('mousemove', onMouseMove);

        imgArea.onmouseup = function () {
            $('#imgArea').css('transition','0.3s');
            document.removeEventListener('mousemove', onMouseMove);
            imgArea.onmouseup = null;
            spaceCheck();
            imgArea.addEventListener("transitionend", function (){
                $('#imgArea').css('transition','none');
            });
        };

        $("#imgViewArea").mouseleave(function(){
            $('#imgArea').css('transition','0.3s');
            console.log('mouseleave');
            document.removeEventListener('mousemove', onMouseMove);
            imgArea.onmouseup = null;
            spaceCheck();
            imgArea.addEventListener("transitionend", function (){
                $('#imgArea').css('transition','none');
            });
        });

        function spaceCheck() {
            let imgTop = $('#imgArea').css('top');
            let imgLeft = $('#imgArea').css('left');
            let imgRight = $('#imgArea').css('right');
            let imgBottom = $('#imgArea').css('bottom');
            if(imgTop.replace('px','') > 0) {
                $('#imgArea').css('top','0px');
            }
            if(imgLeft.replace('px','') > 0) {
                $('#imgArea').css('left','0px');
            }
            if(imgRight.replace('px','') > 0) {
                $('#imgArea').css('right','0px');
            }
            if(imgBottom.replace('px','') > 0) {
                $('#imgArea').css('bottom','0px');
            }
        }

        function updateTransition() {
            imgArea.style.transition = "none";
        }
    });

    imgArea.ondragstart = function () {
        return false;
    };

    function ratio(num) {
        if(num == 1) {
            $('#imgViewArea').css('width','500px');
            $('#imgViewArea').css('height','500px');
        }
        else if(num == 2){
            $('#imgViewArea').css('width','500px');
            $('#imgViewArea').css('height','625px');
        }
        else{
            $('#imgViewArea').css('width','888.88px');
            $('#imgViewArea').css('height','500px');
        }
    }
</script>

<script type="text/javascript">

    let imgNum = 0;
    let TotNum = 0;

    $('#btn-add-row').click(function () {
        ++imgNum;
        $('#mytable > tbody:last').append('<tr class="product_list"><td>' +
            '  <div><img src=""  class="selectedImg" width="100px" height="100px"></div> ' + '</td><td>' +
            '<select name="Pcategory">\n' +
            '            <option value="cap">모자</option>\n' +
            '            <option value="outer">아우터</option>\n' +
            '            <option value="top">상의</option>\n' +
            '            <option value="bottom">하의</option>\n' +
            '            <option value="shoes">신발</option>\n' +
            '            <option value="accessories">악세서리</option>\n' +
            '</td><td>' + '<input type="text" name="Pbrand" id="Pbrand'+imgNum+'" placeholder="브랜드">' + '</td>' +
            '</td><td>' + '<input type="text" name="PproductName" id="Pproduct'+imgNum+'" placeholder="상품명">' + '</td>' +
            '</td><td>' + '<input type="text" name="Pprice" placeholder="상품 가격">' + '</td>' +
            '</td><td>' + '<input type="file" class="PproductFile" id="ProductFile" name="PproductFile" placeholder="상품 사진"></td>' +
            '<td><button type="button" class="img_btn_class" id="imgBtn'+imgNum+'" onclick="searchImg(' +
            'function listNum(){return  ' + imgNum + ';})">이미지 검색</button>' +
            '<input type="hidden" value="" class="PproductFileImg" name="PproductFileImg"></td>' +
            '<td><div class="select_list"><img class="select_img" src="" width="100px" height="100px">' +
            '<img class="select_img" src="" width="100px" height="100px">' +
            '<img class="select_img" src="" width="100px" height="100px"></div></td>' +
            '');

    });

    $('#btn-delete-row').click(function () {
        $('#mytable > tbody > tr:last').remove();
        imgNum--;
    });

    function searchImg(num) {
        searchImgAjax(searchName(num()), num());
    }

    function searchName(num) {
        let Pbrand = document.getElementById(`Pbrand${num}`).value;
        let Pproduct = document.getElementById(`Pproduct${num}`).value;

        let PbrandArr = Pbrand.replace(" ","+");
        let PproductArr = Pproduct.replace(" ","+");

        console.log(PbrandArr);
        console.log(PproductArr);

        let Product = PbrandArr + '+' + PproductArr;
        return Product;
    }

    function searchImgAjax(Product, num) {
        let ListNum = num;
        $.ajax({
            type: "GET",
            url: "PostProductImg",
            data: {"PIMG": Product},
            async: false,
            dataType: "json",
            success: function (data) {
                SelectImg(data.Img0,data.Img1,data.Img2,ListNum);
            },
            error: function () {
                // 실패시
                alert("잠시 후 시도해 주세요")
            }
        });
    }

    function SelectImg(Img0, Img1, Img2, num) {
        let SelectList = document.getElementsByClassName("select_list");
        let SelectImgList = document.getElementsByClassName("select_img");
        let Img = [Img0,Img1,Img2];

        SelectList[num-1].style.display = "block";

        let i, j;
        if(num === 1) {
            i = 0;
        }else{
            i = (num-1) * 3;
        }

        j = 0;

        for(i; i<i+3; i++) {
            SelectImgList[i].src = Img[j];
            console.log(Img[j]);
            SelectImgList[i].setAttribute("onClick", `FinalSelectImg(\"${Img[j]}"\,\"${num}"\)`);
            j++;
        }
    }

    function FinalSelectImg(src,num){
        console.log(num-1);
        console.log(src);
        $(`.select_list:eq(${num-1})`).css('display','none');
        $(`.selectedImg:eq(${num-1})`).css('display','block');
        $(`.selectedImg:eq(${num-1})`).attr('src',`${src}`);
        $(`.PproductFileImg:eq(${num-1})`).attr('value',`${src}`);
    }

    function finalSubmit(){
        $('#imgRatioWidth').attr('value',$('#imgArea').css('width'));
        $('#imgRatioHeight').attr('value',$('#imgArea').css('height'));
        $('#imgTop').attr('value',$('#imgArea').css('top'));
        $('#imgLeft').attr('value',$('#imgArea').css('left'));

        let postForm = document.getElementById('postForm');
        postForm.submit();
    }
</script>


<!-- 이미지 미리보기 영역 -->

<script type="text/javascript">
    // 콘텐츠 수정 :: 사진 수정 시 이미지 미리보기
    function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function(e) {
                $('#imgArea').attr('src', e.target.result);
            }
            reader.readAsDataURL(input.files[0]);
        }
    }

    $(":input[name='Pfile']").change(function() {
        if( $(":input[name='Pfile']").val() == '' ) {
            $('#imgArea').attr('src' , '');
        }
        $('#imgViewArea').css({ 'display' : '' });
        readURL(this);

    });


</script>

<script type="text/javascript">
    var message = '${msg}';
    alert(msg);


</script>


</html>