<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE-edge"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="author" content="KIMAH"/>
    <meta name="description" content="SpringBoot Thymeleaf">
    <title>Spring Boot Test</title>
</head>
<body>

좋아요 개수<p th:text="${like}"></p>
<a th:if="${session.loginId ne post.Hid}" th:href="@{postLike(Pnum=${post.Pnum})}"><button>좋아요</button></a>

<span th:text="${post.Pnum}" ></span>
<input type="hidden" th:value="${post.Pnum}" th:id="Pnum">
<span th:text="${post.Hid}"></span>
<input type="hidden" th:value="${post.Hid}" th:id="Hid">
<span th:text="${post.Ptitle}"></span>
<span th:text="${post.Pcontent}"></span>
<span><img th:src="@{photo/{PfileName}(PfileName=${post.PfileName})}"> </span>
<span>=========================================</span>
<br/><br/><br/><br/><br/>

<h2>여기서부터는 카테고리별 사진 등록</h2>
<table>
    <div th:if="${cap ne null}">
        <tr  th:each="cap : ${cap}" >
       <td> 모자 <img th:src="@{/cap/{fileName}(fileName=${cap.CfileName})}" width="100px" height="100px"></td>
        <td th:text="${cap.Cbrand}"> </td>
        <td th:text="${cap.Cproduct}"> </td>
        <td th:text="${cap.Cprice}"> </td>
    </tr>
    </div>

    <div th:if="${outer ne null}">
    <tr  th:each="outer : ${outer}" >
       <td> 아우터 <img th:src="@{/outer/{fileName}(fileName=${outer.OfileName})}" width="100px" height="100px"></td>
        <td th:text="${outer.Obrand}"> </td>
        <td th:text="${outer.Oproduct}"> </td>
        <td th:text="${outer.Oprice}"> </td>
    </tr>

</div>
    <div th:if="${top ne null}" >
        <tr th:each="top : ${top}" >
      <td> 상의  <img th:src="@{/top/{fileName}(fileName=${top.TfileName})}" width="100px" height="100px"></td>
        <td th:text="${top.Tbrand}"> </td>
        <td th:text="${top.Tproduct}"> </td>
        <td th:text="${top.Tprice}"> </td>
    </tr>
    </div>

    <div th:if="${bottom ne null}">
        <tr  th:each="bottom : ${bottom}" >
        <td>하의 <img th:src="@{/bottom/{fileName}(fileName=${bottom.BfileName})}" width="100px" height="100px"></td>
        <td th:text="${bottom.Bbrand}"> </td>
        <td th:text="${bottom.Bproduct}"> </td>
        <td th:text="${bottom.Bprice}"> </td>
    </tr>
        </div>

    <div th:if="${shoes ne null}">
    <tr  th:each="shoes : ${shoes}" >
       <td>신발  <img th:src="@{/shoes/{fileName}(fileName=${shoes.SfileName})}" width="100px" height="100px"></td>
        <td th:text="${shoes.Sbrand}"> </td>
        <td th:text="${shoes.Sproduct}"> </td>
        <td th:text="${shoes.Sprice}"> </td>
    </tr>
</div>

    <div th:if="${accessories ne null}">
    <tr   th:each="accessories : ${accessories}">
        <td>악세서리 <img th:src="@{/accessories/{fileName}(fileName=${accessories.AfileName})}" width="100px" height="100px"></td>
        <td th:text="${accessories.Abrand}"> </td>
        <td th:text="${accessories.Aproduct}"> </td>
        <td th:text="${accessories.Aprice}"> </td>
    </tr>
    </div>

</table>


<span>======================================</span>

<h2>여기서 부터 댓글</h2>

<div>
    <textarea rows="5" cols="20" id="CContent" name="CContent"></textarea>
    <button id="cmtBtn">댓글 입력</button>
</div>


<div id ="commentArea"></div>


<a th:if="${session.loginId eq post.Hid}" th:href="@{postModifyForm(Pnum=${post.Pnum})}"><button>게시글 수정</button></a>
<a th:if="${session.loginId eq post.Hid}" th:href="@{postDelete(Pnum=${post.Pnum})}"><button>게시글 삭제</button></a>


</body>
<script type="text/javascript" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    // M_View.jsp 로딩시 댓글 목록 조회
    $(document).ready(function(){
        let Pnum = document.getElementById("Pnum").value


        $.ajax({
            type : "POST" ,
            url : "C_list" ,
            data : {"Pnum" : Pnum},
            dataType : "json",
            success : function(result){
                commentList(result);

            },
            error : function(){
                alert("댓글 리스트 불러오기 실패!");
            }
        });


       $("#cmtBtn").click(function(){
            let Cwriter =  document.getElementById("Hid").value
            let Ccontent = $("#CContent").val();
            let Pnum = document.getElementById("Pnum").value;

            $.ajax({
                type : "POST" ,
                url : "C_write" ,
                data : { "Cwriter": Cwriter,
                    "Ccontent": Ccontent,
                    "Pnum": Pnum
                } ,
                dataType : "json" ,
                // 입력을 하자마자 commentList을 새로고침? 하기 위해서
                success : function(result){
                    commentList(result);
                    $("#CContent").val("");
                },
                error : function(){
                    alert("댓글 입력 실패!");
                }
            });
        });
    });

    function commentList(result){
        let output = "";
        // 스프링에 입력하는 값을 추가

        output +="<table>";
        output +="<caption>댓글 목록</caption>";
        output +="<thead>";
        output +="<tr>";
        output +="<th>작성자</th>";
        output +="<th>내용</th>";
        output +="<th>댓글삭제</th>";
        output +="</tr>";
        output +="</thead>";

        for(let i in result){
            output +="<tr>";
            output +="<td>"+result[i].cwriter+"</td>";
            output +="<td>"+result[i].ccontent+"</td>";
            output +="<td><button onclick='cmtDelete("+result[i].cnum+")'>삭제</button></td>";
            output +="</tr>";
        }
        output +="</table>";

        $("#commentArea").html(output);


    }

    function cmtDelete(cnum){
        let Pnum = document.getElementById("Pnum").value;
        $.ajax({
            type : "GET",
            url : "C_delete" ,
            data : {
                "Cnum" : cnum,
                "Pnum" : Pnum
            } ,
            dataType : "json",
            success : function(result){
                commentList(result);
            },
            error :function(){
                alert("댓글 삭제 실패!")
            }


        });
    }



</script>
</html>