<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.groovyzam.otqqu.dao.PDAO">


    <insert id="PostUpload" parameterType="post">
        INSERT INTO POST VALUES (POST_SEQ.NEXTVAL,#{Hid},#{Ptitle},#{Pcontent},#{Pstyle},#{Pup},#{PfileName})
    </insert>

    <insert id="ProductUpload" parameterType="product">
        INSERT INTO ${Pcategory} VALUES (POST_SEQ.CURRVAL,#{Pbrand},#{PproductName},#{Pprice},#{PproductFileName})

    </insert>


    <select id="mainPost" parameterType="int" resultType="post">

        SELECT * FROM (SELECT ROWNUM AS ROWPNUM,PNUM,HID,PTITLE,PCONTENT,PSTYLE,PUP,PFILENAME FROM POST ORDER BY PNUM DESC)A WHERE A.ROWPNUM BETWEEN #{startPnum} AND #{lastPnum}


    </select>

    <select id="pView" parameterType="int" resultType="post">
        SELECT *FROM POST WHERE PNUM = #{Pnum}
    </select>

    <select id="cList" parameterType="int" resultType="comment">
        SELECT *FROM PCOMMENT WHERE PNUM = #{Pnum} ORDER BY CNUM DESC
    </select>

    <insert id="cWrite" parameterType="comment">
        INSERT INTO PCOMMENT VALUES (PCMT_SEQ,#{Cnum},#{Cwriter},#{Ccontent})
    </insert>

    <insert id="imgRatioUpload" parameterType="imgRatio">
        INSERT INTO IMGRATIO VALUES (POST_SEQ.CURRVAL,#{imgRatioWidth},#{imgRatioHeight},#{imgTop},#{imgLeft})
    </insert>
</mapper>