<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.groovyzam.otqqu.dao.PDAO">


    <insert id="PostUpload" parameterType="post">
        INSERT INTO POST VALUES (POST_SEQ.NEXTVAL,#{Hid},#{Ptitle},#{Pcontent},#{Pstyle},#{Pup},#{PfileName})
    </insert>

    <insert id="ProductUpload" parameterType="product">
        INSERT INTO ${Pcategory} VALUES (POST_SEQ.CURRVAL,#{Pbrand},#{PproductName},#{Pprice},#{PproductFileName})

    </insert>

    <select id="mainPost" parameterType="int" resultType="post">

        SELECT * FROM (SELECT ROWNUM AS ROWPNUM,PNUM,HID,PTITLE,PCONTENT,PSTYLE,PUP,PFILENAME FROM POST ORDER BY PNUM DESC)A WHERE A.ROWPNUM BETWEEN #{startPnum} AND #{lastPnum}


    </select>

    <select id="pView" parameterType="int" resultType="post">
        SELECT *FROM POST WHERE PNUM = #{Pnum}
    </select>


    <select id="cList" parameterType="int" resultType="comment">
        SELECT *FROM PCOMMENT WHERE PNUM = #{Pnum} ORDER BY CNUM DESC
    </select>

    <insert id="cWrite" parameterType="comment">
        INSERT INTO PCOMMENT VALUES (PCMT_SEQ.NEXTVAL,#{Pnum},#{Cwriter},#{Ccontent})
    </insert>

    <delete id="cDelete" parameterType="comment">
        DELETE FROM PCOMMENT WHERE CNUM = #{Cnum}
    </delete>

    <insert id="imgRatioUpload" parameterType="imgRatio">
        INSERT INTO IMGRATIO VALUES (POST_SEQ.CURRVAL,#{imgRatioWidth},#{imgRatioHeight},#{imgTop},#{imgLeft})
    </insert>

    <select id="PstyleList" parameterType="String" resultType="post">
        SELECT * FROM POST WHERE PSTYLE=#{pstyle}
    </select>

    <select id="PcategoryList" parameterType="String" resultType="post">
        SELECT * FROM POST A,(SELECT PNUM FROM ${Pcategory})B WHERE A.PNUM=B.PNUM
    </select>

    <select id="cap" parameterType="int" resultType="cap">
        SELECT * FROM CAP WHERE PNUM = #{pnum}
    </select>
    <select id="outer" parameterType="int" resultType="outer">
        SELECT * FROM outer WHERE PNUM = #{pnum}
    </select>
    <select id="top" parameterType="int" resultType="top">
    SELECT * FROM top WHERE PNUM = #{pnum}
</select>
    <select id="bottom" parameterType="int" resultType="bottom">
    SELECT * FROM bottom WHERE PNUM = #{pnum}
</select>
    <select id="shoes" parameterType="int" resultType="shoes">
    SELECT * FROM shoes WHERE PNUM = #{pnum}
</select>
    <select id="accessories" parameterType="int" resultType="accessories">
    SELECT * FROM accessories WHERE PNUM = #{pnum}
</select>

    <update id="postModify1" parameterType="post">
        UPDATE POST SET PTITLE=#{Ptitle},PCONTENT=#{Pcontent},PSTYLE=#{Pstyle} WHERE Pnum=#{Pnum}
    </update>

    <update id="postModify2" parameterType="post">
        UPDATE POST SET PTITLE=#{Ptitle},PCONTENT=#{Pcontent},PSTYLE=#{Pstyle}, PFILENAME=#{PfileName} WHERE Pnum=#{Pnum}
    </update>

    <delete id="postDelete" parameterType="int">
        DELETE FROM POST WHERE PNUM = #{Pnum}
    </delete>

    <insert id="postLike" parameterType="like">
            INSERT INTO POSTLIKE VALUES(#{Hid}, #{Pnum})
    </insert>

    <select id="postLikeNum" parameterType="int" resultType="int">
            SELECT COUNT(*) FROM POSTLIKE WHERE PNUM=#{Pnum}
    </select>

    <select id="postLikeId" parameterType="like" resultType="String">
        SELECT HID FROM POSTLIKE WHERE PNUM=#{Pnum} AND HID=#{Hid}
    </select>

    <delete id="postLikeDelete" parameterType="like">
        DELETE FROM POSTLIKE WHERE PNUM=#{Pnum} AND HID=#{Hid}
    </delete>

</mapper>